[2016-12-22 20:59] edsu opened #1 "File removal error?"
The app should probably display some error message when the underlying tweet ID file has been removed. Right now if you remove a tweet id file during hydration the app just stops, and it's not clear what is wrong.

[2016-12-22 20:59] edsu opened #2 "Estimate Completion Time"
It might be useful for Hydrator to guess at how long hydration might take. I'm hydrating 13M tweets and it's clearly working, but it's not very clear how long it will likely take.

[2016-12-22 21:00] edsu opened #3 "Windows and Linux Installers"
I think this might require shifting things over from [electron-packager](https://github.com/electron-userland/electron-packager) to [electron-builder](https://github.com/electron-userland/electron-builder) since it appears to be the direction that [electron-react-boilerplate](https://github.com/chentsulin/electron-react-boilerplate) are [headed in](https://github.com/chentsulin/electron-react-boil

[2016-12-22 21:00] edsu opened #4 "Dataset Description"
It could be useful to add description metadata field for a prose description of the dataset.

[2016-12-22 21:01] edsu opened #5 "Memory Leak"
If you let Hydrator chew on a large number of tweet identifiers for a while (a few hours) you will notice that there is a memory leak somewhere. This can result in a large memory footprint that can be problematic for machines with limited memory. In principle it should be able to work with a very small memory footprint.

[2016-12-22 23:44] #3 closed

[2016-12-22 23:49] edsu commented on #5
Moving the file writing [from the renderer process to the main process](https://github.com/DocNow/hydrator/blob/master/app/utils/twitter.js#L104-L114) squashed the memory leak! Perhaps the reading of the tweet-id file should be done in main as well, but it seems stable for the moment.

I don't entire understand why writing to the file in the renderer caused the leak in the first place. But I was d

[2016-12-22 23:49] #5 closed

[2016-12-22 23:51] edsu opened #6 "Update Menus"
The app menu items should point to the Hydrator homepage on GitHub and display other relevant information about the app.

[2016-12-23 15:37] edsu opened #7 "Network Connection Indicator"
When the network connection goes away hydrator stops collecting tweets (for obvious reasons) but it does not start again automatically when a network connection is re-established. This means they need to stop and restart.

When the network is down the dataset should appear to be stopped and there should be a visual indicator that the network connection is down. It should check periodically for the

[2016-12-30 12:28] edsu opened #8 "CPU Usage"
As Hydrator reads deeper into the tweet id file it consumes more of the CPU. After doing 3 million or so it uses 50% of the CPU on my MacBook Air (1.8 GHz Intel Core i5).

I think this is because for every API request [readTweetIds](https://github.com/DocNow/hydrator/blob/master/app/utils/twitter.js#L37-L60) reads the first n lines of the file to get the next 100. Ideally there would be an open fi

[2017-01-04 03:15] machawk1 opened #9 "Unable to build from source on macOS"
`npm run dev` works well for testing the hot-swappable version but when I try to package the app using `npm run package-all` I receive the following error on macOS 10.12.2, node v7.2.1 and the packaging process fails to build the binary.

[code]

[2017-01-04 03:18] machawk1 commented on #6
Related, the first item in the About menu on macOS using the provided binary says, "About ElectronReact". I believe https://github.com/DocNow/hydrator/blob/master/app/main.development.js#L112 is where the value resides. I would submit a PR but cannot build and test per #9.

[2017-01-04 03:29] edsu commented on #9
Does it help if you:

     brew install wine

🍷

[2017-01-04 04:16] machawk1 commented on #9
@edsu, that seems like a big hammer but is also recommended along w/ `brew install mono` on macOS per https://github.com/electron-userland/electron-builder/wiki/Multi-Platform-Build#os-x . Do you anticipate any issues in having `"package-mac": "npm run build && build --mac"` in the `package.json` file to allow for single-platform building? I tried running `npm run build && build --mac` but bash/OS

[2017-01-04 14:11] edsu commented on #9
Just run "npm run package" if all you want is your native package built.

[2017-01-04 14:14] edsu commented on #9
Oops I didn't mean to close just yet. It sounds like the readme should be improved to avoid people running into this?

[2017-01-04 16:38] machawk1 commented on #9
@edsu That worked and was much simpler. I added https://github.com/DocNow/hydrator/pull/10 to provide this info in the README.

[2017-01-04 20:24] #9 closed

[2017-01-04 20:25] edsu commented on #9
Thanks! :cake:

[2017-01-04 23:43] machawk1 commented on #9
For the sake of completeness, `npm run package-all` still fails even after installing wine using homebrew per above.

[code]

[2017-01-04 23:54] edsu commented on #9
From the (voluminous) error message It looks like you need gnutar:

    brew install gnu-tar

[2017-02-02 15:57] edsu opened #11 "verification fail"
If verification fails then the `Verifying ...` message never seems to go away, and it also puts the rest of the application into a mostly inoperable state.

[2017-02-02 23:31] #11 closed

[2018-03-20 18:57] edsu opened #12 "extended tweets"
Via email:

[code]

[2018-08-01 12:25] edsu opened #13 "Time Estimate"
Since Hydrator knows how many tweets there are and how long they are taking to hydrate (as well as the rate limits) it could estimate how long the dataset will take to hydrate.

[2018-08-01 13:31] edsu opened #14 "Active CSV Generation"
When generating CSV data the CSV button is grayed out slightly. It would be better to have something that is more obvious, perhaps an animation of some kind?

[2018-08-05 01:08] kkk279 opened #15 "Hydrator slowing down"
I noticed that hydrator slowed down to a snail's pace when hydrating 18,000,000 plus tweet ids. Hydrator should have taken approximately 50 hours but it is currently 49 hours and its barely scratched the 7,000,000 tweet mark. It's currently churning out at a rate of 1400 tweets per minute and translates to 84000 per hour. Could you look into this?

[2019-04-02 01:45] Ellime opened #16 "Generated CSV file does not contain tweets"
After my first use of Hydrator (hydrated one set of tweets successfully) any set of Tweet IDs uploaded to Hydrator produce a CSV file with absolutely nothing - size 0 bytes. Including the first set that went through successfully.

Already tried reinstalling.
Running Windows 10.

[2019-04-02 18:06] edsu commented on #16
Did the hydration process create a JSON file? Can you share that in some way with me at ehs@pobox.com?

[2019-04-02 19:49] edsu commented on #16
I just started up a Windows Server 2019 instance in Amazon EC2 (I don't own a WIndows computer) and tried out the Hydrator. I was able to hydrate and create a CSV out of the hdyrated JSON. Admittedly the process is a bit clunky, and could be improved. But I think it's working?

![Screen Shot 2019-04-02 at 3 47 07 PM](https://user-images.githubusercontent.com/33829/55431544-d4622780-555e-11e9-865b-

[2019-04-02 20:35] edsu commented on #16
Whoops, I didn't mean to close that yet!

[2019-04-06 19:32] Ellime commented on #16
Thank you for looking into it for me! It turns out I just wasn't following the correct steps:
* After pressing start, save a file without any extension.
* Then you can save a CSV file as normal.

Sorry for incorrectly opening an issue.

[2019-04-06 22:45] edsu commented on #16
No it's fine. As you discovered the workflow is not intuitive. If you have ideas for improving it please let us know!

[2019-04-06 22:45] #16 closed

[2019-04-21 03:51] ZiranLi opened #17 ""A JavaScript error occurred in the main process""
I tried to use Hydrator in OS X and while hydrating the tweet ids, it throws an exception: Uncaught Exception: Error: EFBIG: file too large, write.
Anyone knows how to solve it?

[2019-04-21 03:53] ZiranLi commented on #17
I tried to use Hydrator in OS X and while hydrating the tweet ids, it throws an exception: Uncaught Exception: Error: EFBIG: file too large, write.
Anyone knows how to solve it?

[2019-11-17 10:59] edsu commented on #17
It sounds like you ran out of disk space?

[2019-11-17 10:59] #17 closed

[2019-11-17 11:02] edsu commented on #15
Yes, sorry for the delayed response. I think this is an issue with the way the Hydrator is reading into the tweet id file everytime to figure out the next set of 100 tweets to retrieve. I'm going to be spending some time updating the Hydrator in the coming weeks and will look into what can be done to improve this.

I imagine you have moved off from this issue a long time ago. But in case you haven

[2019-12-27 18:09] olubadmus opened #21 "hydrator keeps crashing"
Ran intoerror. Won't work. Uninstalled, reinstalled but still  showing error. Any solution?

[2019-12-28 20:03] edsu commented on #21
Can you provide some more details:

- Can you share the tweet id dataset you are working with.
- When does it crash (immediately on startup; when entering metadata; when starting to hydrate; etc)

[2019-12-28 20:07] olubadmus commented on #21
I was hydrating a tweetset from Havard Dataverse (charlotsville) but my system froze during the process. I had to force shut down. Upon recovery, Hydrator wouldnt work, tried resinstaling it several times but kept getting the error (below) upon running the app.
![Annotation 2019-12-27 131816](https://user-images.githubusercontent.com/39098836/71548955-ba396680-2983-11ea-8e26-05082b1119f3.png)

[2019-12-29 14:39] edsu commented on #21
Does that error message allow you to scroll to the right?

Also, can you re-download the tweet-id dataset to make sure it hasn't been somehow corrupted?

[2020-02-06 00:21] thb5018 opened #22 "Consistent Data Loss over Multiple Pulls"
I ran 14 datasets through the tool and each returned a dataset with roughly 33% data loss. However, I've noticed that screenshots of other pulls have differing values. Is my consistent loss due to my Developer Account/App permissions or is it just chance and simply due to the dataset?

[2020-02-06 16:16] edsu commented on #22
33% is high, but not unheard of. If you like I can verify if you can share the tweet ids for one of them?

[2020-02-06 17:11] thb5018 commented on #22
Sure thing. I appreciate you taking a look. Thanks!
[TweetIds_640k.txt](https://github.com/DocNow/hydrator/files/4166608/TweetIds_640k.txt)

[2020-02-07 03:06] edsu commented on #22
Here's what I got using [twarc](https://github.com/docnow/twarc) instead of Hydrator: 411724 tweets out of 639716.0 or 64.3% hydration. How does that compare to what you saw with Hydrator?

[2020-02-07 15:56] thb5018 commented on #22
@edsu That is pretty similar. I had 411,909 and 411,908 on two different requests. It appears that it may just be that the collection is somewhat volatile. Thanks for running it through twarc. I wanted to try that, but had trouble inputting my keys into the program.

[2020-02-07 16:28] edsu commented on #22
Ok, I'm glad that things seem to be similar. One thing you can do if you are interested in working with the original data is privately reach out to the person who collected it and see if they are willing to share it with you for research purposes. Let me know if you have trouble figuring out contact information if the dataset is in the DocNow Catalog.

[2020-02-07 16:29] #22 closed

[2020-03-16 21:42] shayanshams66 opened #24 "Tweets are limited to 140 characters"
Hi,
Currently the fetched tweets are limited to 140 characters. see below:
"display_text_range":[0,140].
Is there any option to fetch all 280 chars.
Thanks

[2020-03-17 11:32] edsu commented on #24
Can you paste a JSON object for a tweet you received -- or the tweet id of one you are having trouble with? You should find the full 280 characters of the tweet in the `full_text` property.

[2020-03-17 11:34] edsu opened #25 "Hydrated data: id and id_str do not match"
In hydrated data the id and id_str for a tweet should match. It looks like id is overflowing so the last few digits are zero.

[2020-03-17 17:22] shayanshams66 commented on #24
Thanks for the prompt response, Here is one tweet ID that I have problem with but there are many 1221739807711232000.
Thanks a lot

[2020-03-17 18:47] edsu opened #26 "CVS tweet text truncated"
Retweets can truncate the original tweet text if it is over 140 characters. But the the original text is available in the enclosed retweet: `.retweeted_status.full_text`. The CSV export should get the longest representation of the text. I think it may need to do the same thing for quotes.

See 1221739807711232000 for an example. But really any long tweet that has been retweeted should do.

[2020-03-17 18:48] edsu commented on #24
Thanks! This is some peculiar behavior from the Twitter API. When a retweeted tweet is > 140 characters the retweet has a shortened form. Take a look in `retweeted_status.full_text` for the original text. Do you see that?

[2020-03-17 19:08] shayanshams66 commented on #24
Yes, got it thanks a lot, I don't know why i didn't notice that.

[2020-03-17 19:10] edsu commented on #24
It's easy to miss.

[2020-03-17 19:10] #24 closed

[2020-04-01 23:56] jsutxhx opened #27 "Link Twitter Account not working on Windows 10"
Thanks for the contributor share me with this app. When I install the hydrator in Windows. run it and when I click the 'Link Twitter Account' or any other function button. the app did not response. and I can't do anything with it.
Is there some configuration should do in Windows platform to run it?

[2020-04-02 03:01] edsu commented on #27
Was your computer connected to the internet at the time?

[2020-04-02 05:14] jsutxhx commented on #27
Yes, I connect the internet with VPN.

[2020-04-02 05:17] jsutxhx commented on #27
I can visit the Twitter website when I surf with the VPN, and it doesn't work with the hydrator software.

[2020-04-02 12:23] edsu commented on #27
What version of windows are you using? I dont have access to Windoes but I can try to test.

[2020-04-02 12:51] jsutxhx commented on #27
The Windows version is Win10 Home Edition. Thanks a lot.

[2020-04-05 21:51] MarjanDavoodi opened #28 "Hydrator installation for Windows"

[2020-04-05 21:53] #28 closed

[2020-04-07 19:06] abhincho opened #30 "Hydrator not reading tweets"
Hi
 I have installed hydrator on my windows system and have also linked my twitter account. But when I start hydrating no tweetIDs are read.
![hydrator](https://user-images.githubusercontent.com/8470532/78708996-985f6080-7930-11ea-9472-c0abae02876c.JPG)
It was working before but my system got shutdown due to some power issues, and after I restating, now no tweetIDs are getting read.
Please help.

[2020-04-07 19:47] edsu commented on #30
I wonder, has the tweet ids file moved? You might want to try adding it again?

[2020-04-07 19:50] abhincho commented on #30
Thank you for your reply. I have added the file again and I also added a different file but in both cases the number of IDs read remains stuck at 0.

[2020-04-07 20:04] edsu commented on #30
A few things to try:

- wait 30 minutes and start them again to see if you have been rate limited by Twitter
- relink your account to make sure your keys are working
- try with a smaller file of ids to make sure it isn't related to the size of those files you are working with

Generally speaking Hydrator isn't performing well with files that size until #15 is fixed. You may want to run a twarc hyd

[2020-04-08 05:36] #30 closed

[2020-04-08 12:16] edsu commented on #30
Did you end up having any luck with any of the three approaches? I'd be happy to help with getting you set up with a long running twarc process if you are interested. I think it would probably take 4 days once it is set up correctly.

[2020-04-08 14:59] abhincho commented on #30
It was a windows problem. I restarted the system and uninstalled hydrator. The I went to the C:\Users\user\AppData\Roaming  and deleted the hydrator folder.
Installed hydrator again and now it is running smoothly.

[2020-04-08 15:55] edsu commented on #30
Oh good, I'm glad. I would like to know what got corrupted in the Hydrator, so if it happens again and you get any clues please reopen this ticket or add a new one.

[2020-04-09 04:08] norcalbiostat opened #31 "51% hydration rate?"
I'm getting a very unreasonably poor hydration rate for the ID's found in a COVID-19 dataset https://github.com/echen102/COVID-19-TweetIDs

Their readme states that @edsu was only missing 6% due to deletions. As the title implies, i'm getting substantially poorer rate.

I passed a batch of ID's that didn't hydrate the first time back through again, and 12% were successfully hydrated on a second pa

[2020-04-09 11:58] edsu commented on #31
Thanks for reaching out about this @norcalbiostat. 51% hydration rate is very low indeed. Your observation about being able to hydrate previously unhydratable ids is also worrisome. That being said, I know that platforms are dealing with a huge amount of COVID-19 related disinformation, so it is within the realm of possibility that this amount of data is being deleted, and that content may be rest

[2020-04-09 15:20] norcalbiostat commented on #31
You do have a point there. I wasn't thinking about that with regards to removed tweets.

Yes, i'm programmatically sampling hours out of time frames that they have posted, reading the text file directly from the URL, and then sampling 200 id's from within that file.  I only started this project 'at scale' perhaps a week ago.

I am using R to do the sampling, and concatenating, then writing out to

[2020-04-09 16:40] edsu commented on #31
Thanks for those details! If you share the ID file that you generated I can take a look at it. One hint that the IDs have overflowed is if they all end in 0.

It's just one day, but I just rehydrated the 2020-01-26 ID files with Hydrator and got a 13% delete rate, which is much more along the lines of what I would expect to see.

<img width="612" alt="Screen Shot 2020-04-09 at 12 35 31 PM" src="ht

[2020-04-09 16:45] norcalbiostat commented on #31
all end in 0 huh? That gives me some ideas to try.
I'll send you my text file to your pobox mail listed on your GH profile.

[2020-04-09 17:04] edsu commented on #31
Well just to be clear, the IDs should NOT all end in 0. That's an indicator that an overflow has occurred.

I'm not an R programmer unfortunately, but a little bit of Googling around leads me to believe that R has different integer types, and that the default is 32bit, which would not work with a Tweet ID. One way of working with this is to read and write them as strings instead of numbers. Or may

[2020-04-09 17:07] norcalbiostat commented on #31
i'll look into bigint, hadn't heard of that one.
I did use sprintf to write the number with full digits as a string, but the resulting text file had "quotes" around the number, which the hydrator wouldn't have anything to do with.

[2020-04-09 18:57] edsu commented on #31
Yea, the Hydrator wants just numbers. If you send your R code (attach here) I can take a look. But apart from that it's pretty hard for me to diagnose what's going on since you aren't hydrating the supplied id files directly.

[2020-04-10 05:07] kilitougo commented on #27
I had the same problem, did you solve it?

[2020-04-10 05:45] niall-consci commented on #31
Thank you for asking this question as I was having a similar issue. I think my problem was that I was using excel to save my txt file. I've now been able to hydrate tweets from 2020-03-28 using R and hydrator with only an 8% delete rate. Below I have added the R code I used to save the IDs to a txt file.

`stringsAsFactors = FALSE
df <- read.table(gzfile("2020-03-28_clean-dataset.tsv.gz"))

df <-

[2020-04-12 18:06] edsu commented on #31
@norcalbiostat can we can call this issue resolved?

[2020-04-12 18:34] edsu commented on #15
This **really** needs to get fixed since Hydrator is being increasingly used on large, unsegmented tweet ID datasets.

[2020-04-12 19:41] norcalbiostat commented on #31
Yes - thanks for confirming that twarc received the same deletion rate, and that these older tweets are indeed being removed. You made a good point about the misinformation rate being high.

@niall-consci  - you're exporting the ID's in the same manner that I was. Try converting `df$V1` to a vector before exporting. I still ended up with overflow numbers (E+18) in the text file, but that's a separ

[2020-04-12 19:41] #31 closed

[2020-04-12 21:37] kkk279 commented on #15
Thanks for your response. I switched to using twarc to hydrate the files (And have since then). I hope the issue has now been resolved?

[2020-04-12 21:58] edsu commented on #15
Not yet, sadly. But I'm working on it now.

[2020-04-13 13:07] edsu commented on #27
No I still need to test :-( I will prioritize that though.

[2020-04-13 21:01] b-elsenheimer opened #32 "How to Save Files"
Sorry in advance if this a basic question, but I am a textbook beginner when it comes to this sort of thing. I am able to read tweet IDs and hydrate them just fine. My confusion comes when I save the file of hydrated tweets. My goal is to open the hydrated tweets file in a Jupyter notebook (using python) and extract the tweet text to analyse it. What is the best way to save the hydrated tweets to

[2020-04-13 21:03] edsu commented on #32
@b-elsenheimer thanks for the question--I'm sure you're not alone. After the hydration has finished do you see a CSV button next to the dataset? If you click that it should convert the previously saved JSON data to a CSV file that you should be able to easily load in your Jupyter notebook with the csv module, or better yet, pandas.

Does that help at all?

[2020-04-13 21:16] b-elsenheimer commented on #32
It should, my mistake was that I stopped the hydrating before it got through all the tweets (oops!). When I click that, it opens my file explorer (as it should, I'm assuming) so when I save it and name the file, should I include the '.csv' in the name or just type a name and it will automatically save as csv?

[2020-04-13 21:19] edsu commented on #32
If you stop it hydrating before it's done I don't think you will see the CSV option. But yes, if you see the CSV option you should click it and see a prompt of where to save the CSV to. Definitely use the .csv extension, but be careful opening and saving it with Excel since it will likely corrupt the tweet id column.

[2020-04-13 21:36] b-elsenheimer commented on #32
Got it, thank you for the quick responses!

[2020-04-13 21:36] #32 closed

[2020-04-13 21:37] edsu commented on #32
Sure, thanks for asking the question here. Future confused users will appreciate it!

[2020-04-16 07:07] plumcola commented on #27
Here is Win10 and I had the same problem, too : (

[2020-04-16 14:06] edsu commented on #27
I'm working on updating the Hydrator code base so I can better diagnose this problem. I apologize for the delay. If you need to start hydrating now,  and aren't turned off by dabbling at the command line, take a look at our other tool twarc: https://github.com/docnow/twarc#hydrate

[2020-04-17 16:36] edsu commented on #27
So I got a chance to test v0.0.3 of the Hydrator on Windows 10 and the Link Twitter Account button works as expected. What should happen when you click that button is your browser should open a window at Twitter and ask you to allow the Hydrator app to use your Twitter account in order to talk to the API. Can you tell me what your default web browser is? Are you able to click on links in other app

[2020-04-18 11:47] edsu commented on #27
v0.0.4 of the Hydrator was just released which is now based on the most recent version of Electron. It's unlikely, but possible that the problem you are noticing will go away when using the new version. Could you give it a try and let us know?

[2020-04-20 13:18] plumcola commented on #27
I have tried the v0.0.3 and v0.0.4 with opening Twitter on Chrome browser, and I failed. I closed the firewall. However, when I click the options in Help in Hydrator, it works successfully on opening relevant web pages on Chrome. Maybe I've set something wrong TAT

[2020-04-20 13:44] kilitougo commented on #27
same with you, are you using a VPN?

[2020-04-20 13:47] edsu commented on #27
@plumcola thanks for testing v0.0.4 -- I'm sorry it didn't work. I made a small change to the way the Twitter URL is being opened. Can you try [v0.0.5](https://github.com/DocNow/hydrator/releases/tag/v0.0.5).

Also, do you have any security extensions installed in Chrome that might be preventing it from opening a Twitter URL?

I'm also curious if temporarily setting your default browser to Edge ha

[2020-04-20 14:03] edsu commented on #27
One other question for all of you who are having problems. Do you use a Twitter Desktop app that might be intercepting the open?

[2020-04-20 14:44] blas-ko opened #33 "can't install using yarn"
Hello, noob here.

Tried to `git clone` and `yarn install` the source file but I get a `00h00m00s 0/0: : ERROR: [Errno 2] No such file or directory: 'install'` error...

I guess I should have docker or something similar run the app and then build the .yml somehow, but I'm a bit lost.

What should I do?

Thanks in advance!

[2020-04-20 14:48] edsu commented on #33
Hi @blas-ko please download the installer for your [latest prebuilt release](https://github.com/DocNow/hydrator/releases) for your operating system unless you are wanting to help develop the Hydrator app.

[2020-04-20 15:06] blas-ko commented on #33
Oh! I didn't notice the .deb file in the releases... how embarrassing, haha!

Many thanks for the quick response.

Closing.

[2020-04-20 15:06] #33 closed

[2020-04-20 15:07] edsu commented on #33
Let us know how it works. You are the first Linux install I've heard from!

[2020-04-20 15:12] ppival commented on #27
FWIW, I just ran v.0.05 on Win10 Education version 1909. Chrome is the default browser, with no extensions, and all worked as expected. Unlinked my account, connected to my work VPN and ran it all again and it still worked as expected.

*seems* like Hydrator is ok, and it's a setting at the user end? Happy to try to test various configurations...

[2020-04-20 15:44] blas-ko commented on #33
Works like a charm

![hydrator](https://user-images.githubusercontent.com/8909006/79771098-39351f00-8326-11ea-83a8-7624fe18edd8.png)

[2020-04-20 16:04] edsu commented on #33
Yay!

[2020-04-20 19:01] blas-ko opened #34 "converting to csv before completion"
Hey again!

The hydrator is working great in Linux. However, it would be great to have the option to convert the json files to csv even at any point in the hydration, not only when it's completed. I'm trying to hydrate 40+ M tweets and the .json file takes a lot of space that I'll send to the trash after completion.

Another option is to split the hydration into chunks of customizable size (or num

[2020-04-21 14:05] sonoshah opened #35 "Hydrator getting stuck on "add dataset" on Mac"
I recently installed the latest release of hydrator and was able to open it up and link my twitter account, but when I try to add a dataset of tweets I get this error message. I might be missing something obvious here, but any help would be greatly appreciated!

<img width="711" alt="Screen Shot 2020-04-21 at 7 01 32 AM" src="https://user-images.githubusercontent.com/13369002/79875253-4261d280-839

[2020-04-21 14:36] edsu commented on #35
Oh, just add the 'http://'  on the front!

[2020-04-21 14:38] sonoshah commented on #35
HAH! @edsu, THANKS! I knew it must have been something obvious! Much appreciated!

[2020-04-21 14:38] #35 closed

[2020-04-21 14:39] edsu commented on #35
Awesome! Please let us know how you fare with the Hydrator, either here in GitHub or in [Slack](https://bit.ly/docnow-slack).

[2020-04-21 15:07] machawk1 commented on #6
As of the v0.0.5 release (perhaps before), the app's name is in the app menu on macOS:

![Screen Shot 2020-04-21 at 10 50 29 AM](https://user-images.githubusercontent.com/2514780/79880420-fde62f00-83bd-11ea-9c51-3ebcc65c67ce.png)

Maybe some context should be provided to `University of Maryland`, e.g., `copyright: "Copyright © 2020 University of Maryland"` in electron-builder.yml?

For providing a

[2020-04-21 15:17] edsu commented on #34
Hi @blas-ko -- it really ought to be possible to hydrate directly to CSV for people who don't want the JSON at all. Also, I think it would help in situations like this to write to a compressed file.

Unfortunately until #15 is resolved you will notice degraded performance as Hydrator works its way into the file. Hopefully it will be resolved soon.

Since you are using Linux I'm guessing you may ha

[2020-04-21 15:45] edsu commented on #27
@ppival thank you for testing! that confirms my experience on a Win10 VM but it's really good to have another report of success.

[2020-04-21 15:46] edsu commented on #27
@ppival thank you for testing! that confirms my experience on a Win10 VM but it's really good to have another report of success.

[2020-04-21 18:22] edsu commented on #27
@ppival thank you for testing! that confirms my experience on a Win10 VM but it's really good to have another report of success.

[2020-04-21 21:48] edsu commented on #15
The one advantage of waiting a year (or more) to address an issue is that what once seemed to be hard is now easy. It looks like Node's documentation has an example of reading a file line by line, which ought to do the trick:

https://nodejs.org/api/readline.html#readline_example_read_file_stream_line_by_line

[2020-04-22 09:12] blas-ko commented on #34
Hey @edsu! Thanks for pointing me out to twarc! It's great :).

I've been able to install twarc on my personal computer successfully. However, in the server where I have access to (but where I don't have root privileges) I have been only able to import twarc from python, but not running it from the command line (I get a  `Command 'twarc' not found` message).

Should this be addressed in a separate

[2020-04-22 12:16] edsu commented on #34
@blas-ko Did you install on your server with `pip install --user twarc`?

[2020-04-22 14:21] edsu commented on #34
@blas-ko Just following up, if you did [install with `--user`](https://packaging.python.org/tutorials/installing-packages/#installing-to-the-user-site) you should be able to find the twarc executable in your "user base". This location is platform dependent, but you can find it by running this at the command line:

    python3 -m site --user-base

(if you used python3, omit the 3 if you are using a

[2020-04-23 16:06] blas-ko commented on #34
Hey @edsu! I installed it both as normally `pip3 install twarc` and with the user flag `pip3 install --user twarc`.

I tried the `python3 -m site --user-base` with no success.

I found the file in `~./local/bin/twarc` and created and alias to it, and now I'm able to run it from the command line. However, when I try to configure twarc via `twarc configure`, I get the following error
[code]

Any ide

[2020-04-23 19:44] edsu commented on #34
Wow, thats a new one! I am glad you figured out where the command was installed. It looks your operating system's default encoding is not utf8--which is unusual these days, but not unheard of.

I recall you are working on a shared system? So you may not have control over the default encoding. Could you try setting this in your shell before you run twarc?

    export PYTHONIOENCODING="utf-8"

If th

[2020-04-23 21:56] kkk279 commented on #15
Yes, going the Nodejs route should work. Sometimes, time is the solution :-)

Regards
Kelvin
*Kiiki*

On Tue, Apr 21, 2020 at 4:48 PM Ed Summers <notifications@github.com> wrote:

[2020-04-24 20:58] blas-ko commented on #34
It worked!!!
Thanks a ton! :)

[2020-04-24 21:13] edsu commented on #34
Nice, please feel free to open new issues here or over in the twarc repository if you run into more issues.

[2020-04-24 21:13] #34 closed

[2020-04-30 18:51] gskarp opened #36 "Tweet id file error"
While trying to start hydrating a txt file with only the tweet ids, I get the following message
<img width="472" alt="image" src="https://user-images.githubusercontent.com/6851894/80747807-a3bb3b80-8b2c-11ea-9e82-4466144f3b25.png">

[2020-04-30 18:54] edsu commented on #36
What does the first line of your file `corona_tweets_01.txt` look like?

[2020-04-30 19:02] gskarp commented on #36
<img width="226" alt="image" src="https://user-images.githubusercontent.com/6851894/80748861-47f1b200-8b2e-11ea-842d-bb6c3bda3632.png">

[2020-04-30 19:10] edsu commented on #36
Hmmm, where did you get that from? It looks like the id file has been opened with Excel or something that truncated all the IDs (see how they all end in zero?).

Are you sure there isn't something else on line 1? That error gets thrown when it finds a line without a number on it: https://github.com/DocNow/hydrator/blob/master/app/utils/twitter.js#L15

If you are able to upload the id file here or

[2020-04-30 19:40] gskarp commented on #36
Yes, I actually opened it in excel to erase a second column, which produced the same error.
I originally downloaded the csv files from here:
https://ieee-dataport.org/open-access/corona-virus-covid-19-tweets-dataset

[2020-04-30 19:41] gskarp commented on #36
I realize that there was a mistake in the way I used excel. In csv things are completely different

[2020-04-30 20:34] edsu commented on #36
Yes, unfortunately Excel is known to mangle numbers and dates. Definitely be wary of it. I would install [csvkit](https://csvkit.readthedocs.io/en/latest/) and then cut out the column you want into a new file.

    csvcut -c tweet_id corona_tweets_01.csv > coronoa_tweet_ids_01.csv

We've talked about adding functionality to allow people to load tweet ids from arbitrary CSV files by having people s

[2020-05-02 10:31] #15 closed

[2020-05-02 10:46] edsu commented on #36
I'm going to close this, but please reopen if it doesn't seem resolved.

[2020-05-02 10:46] #36 closed

[2020-05-02 10:49] edsu commented on #21
Hopefully the recently released v0.0.6 release of Hydrator will resolve this problem. Please feel to reopen if that is not the case.

[2020-05-02 10:49] #21 closed

[2020-05-02 10:53] edsu commented on #8
Fixed (finally) in v0.0.6!

[2020-05-02 10:53] #8 closed

[2020-05-02 10:55] edsu commented on #15
This fix should be available in the v0.0.6 release of Hydrator if you want to give it a try! I feel bad it took so long to address this, but better late then never?

[2020-05-03 00:08] norcalbiostat opened #37 "citation information"
Please put citation information into the README.

[2020-05-03 00:48] helixg opened #38 "can not install on Win10"
When I install the Hydrator-Setup-0.0.6.exe on Win10 Professional Edition,
There is a javascript error occur
like this

![hi1.png](https://i.loli.net/2020/05/03/tjAiZCK5Q7ylNmf.png)

[2020-05-03 01:05] edsu commented on #38
Thanks for reporting this. I think this is your first time running hydrator? I neglected to test with a clean slate where Hydrator had not been run before.

I think I've fixed the problem. Can you give the just released v0.0.7 a try?

[2020-05-03 01:18] #37 closed

[2020-05-03 01:20] edsu commented on #38
I didn't mean to close this issue.  Can you can confirm v0.0.7 doesn't have the same defect?

[2020-05-04 01:36] helixg commented on #38
It seems that the v0.0.7 can launch successfully

[2020-05-04 02:11] helixg commented on #38
It seems that I need a pin to connect to my API key,  Can I enter the Access Key and Access Key Secret directly?

![hi2.png](https://i.loli.net/2020/05/04/sjXapw7V6tBS3yn.png)

[2020-05-04 02:30] edsu commented on #38
When you click to link the account does your browser not open to a page at twitter asking for you approval to use your account ?On May 3, 2020 10:11 PM, helixg <notifications@github.com> wrote:
It seems that I need a pin to connect to my API key,  Can I enter the Access Key and Access Key Secret directly?

—You are receiving this because you modified the open/close state.Reply to this email direct

[2020-05-04 11:28] kilitougo commented on #27
Thanks for your efforts! However, after downloading the latest version, I still can not connect to my twitter account correctly. It asks me to input a pin, but no browser is opened. I can't input a pin.

[2020-05-04 16:25] edsu commented on #27
@kilitougo Do you use antivirus software? What browser do you use, and do you have any security extensions installed in it?

[2020-05-06 10:17] kilitougo commented on #27
I use windows defender, chrome of latest version and I open hydrator as administrator. Windows defender did warn me but I click run.

[2020-05-06 12:24] edsu commented on #27
@kilitougo does temporarily disabling Windows Defender help at all? Also maybe there are some hints here? https://support.microsoft.com/en-us/help/4013218/windows-10-app-browser-control-in-windows-security

I'm sorry, but I am not a Windows administrator, and it is very difficult for me to help when I cannot replicate the same problem in my own Windows 10 environment. It is a longshot but maybe @k

[2020-05-10 15:45] opendatasurgeon opened #39 "JS error at the main process, unexpected token at JSON in position 0"
Hello, I have received this error back to back when exporting to csv file:
![Inkederror_LI](https://user-images.githubusercontent.com/47681434/81503805-b0216000-92b3-11ea-9553-eb199ea13cea.jpg)

[2020-05-10 20:27] edsu commented on #39
Thanks for reporting this. Is it a large JSON file? Can you share it with me at ehs@pobox.com?

[2020-05-10 20:30] opendatasurgeon commented on #39
Sure sir, thank you for looking into this. I will share it with you.

[2020-05-10 22:49] opendatasurgeon commented on #39
Hello @edsu , just sent that json file which lead me to this error. Thank you & your team for making this tool!

[2020-05-11 11:33] edsu commented on #39
I got it. It's interesting, of the 621,567 lines there appears to be one line (307,400) that has invalid JSON on it. It looks truncated in some way. Do you remember if you happened to have a storage problem or shutdown/stop the Hydrator about midway through hydrating this tweet id dataset? It shouldn't be a problem to start/restart but I should test it out to make sure.

Have you been able to hydr

[2020-05-11 12:21] edsu commented on #39
@opendatasurgeon could you share your ID file with me too if it's not too much trouble? This should hopefully help me figure out what might have happened.

[2020-05-11 14:32] opendatasurgeon commented on #39
No sir, I got no warning or note while hydrating. It was after when I hit the CSV button, json output gave no error.  Also my computer didn't sleep, nor I have a storage issue. I have ~280 GB left on the drive where I ran this program.  I didn't stop the hydration, I just waited until I get an option to export.

[2020-05-11 14:34] opendatasurgeon commented on #39
Sure Mr. Summers. Will email the ID file which caused this error and also give you the id file and the json file where I was able to get an output without an error.

[2020-05-11 18:40] opendatasurgeon commented on #39
Mr. Summers, sent you an email containing id files. Please let me know if there is anything else you need. Appreciate your help again!

[2020-05-11 18:56] edsu commented on #39
Ok, I will take a look. I rehydrated the tweet ids and also have tested generating CSV from hydrated data that I tried start/stopping, quitting and stopping the network during and wasn't able to get a corrupted jsonl file.

<img width="612" alt="Screen Shot 2020-05-11 at 2 55 12 PM" src="https://user-images.githubusercontent.com/33829/81600460-a2dda180-9397-11ea-8e38-5f523c54543c.png">

[2020-05-11 22:01] edsu commented on #39
Thanks @opendatasurgeon. I'm confused about the relationship between the `output-2020-03-22.jsonl` file you sent me (which has 621,567) and the `output-2020-03-22.txt` file you sent which has 1,069.472 lines. It clearly didn't finish hydrating, or a significant chunk of the file was lost? Can you please try hydrating it again and see if you have the same problem?

[2020-05-11 22:17] opendatasurgeon commented on #39
Will do sir. I unfortunately did';t capture the screenshot if the % lost. I will however re-run this.

[2020-05-11 22:32] opendatasurgeon commented on #39
Oh yes, before I forget to tell you. The source of the data I am using to hydrate is here: https://github.com/echen102/COVID-19-TweetIDs
This text file containing twitter IDs is from March (2020-03) directory. Maybe that's why I maybe missing values. Who knows, but I am re-running it now.

[2020-05-12 03:55] opendatasurgeon commented on #39
Hello @edsu Just finished hydrating the text file. No error this time. Same computer, same process (meaning continuous hydration, no-computer sleeping, no disconnects or starting or stopping), I don't get it. The CSV and JSON files are surely smaller in size. Please see the screenshots below.

![3](https://user-images.githubusercontent.com/47681434/81636813-c843cd00-93e2-11ea-9313-90477d9d72a3.png

[2020-05-12 12:34] edsu commented on #39
@opendatasurgeon hydration worked for me too, 53% of the tweets have been deleted! That is a shockingly large percentage for such a recent set of tweets (just

[2020-05-12 14:29] edsu commented on #39
I closed this by accident and want to keep it open until Hydrator reports errors better.

[2020-05-12 15:07] opendatasurgeon commented on #39
I don't think I did overwrite any of my file sir. I always name my files differently, and I believe I just merged the files, that were chunk of same days, together into one. I in fact left duplicates IDs in these files because I was going to clean CSV files anyways. So don't know what could have happened.

Do you think maybe there is limit a I should test with a May file? I know for sure first tim

[2020-05-13 21:20] edsu opened #40 "Clean"
When pointed at a JSONL file Hydrator could rehydrate or *clean* the dataset, filtering out any tweets that have been deleted. In addition the Hydrator could allow user to enter an optional list of users to exclude from the dataset, if someone has requested their data be removed, and they don't want to have to delete their tweets.

(Thanks to @bergisjules for the use case and the name).

[2020-05-14 14:47] edsu commented on #40
Here's some more context for this issue.

On a recent DocNow call we discussed whether it would be possible for users to register that they wanted to be removed from a tweet id collection. The Hydrator could then consult that list when hydrating the ids, and filter them out.

However we wouldn't want people to have to publicly register that they want to be removed since it could bring unwanted att

[2020-05-14 14:59] edsu commented on #40
I was thinking that perhaps one obvious approach would be not to publish the User IDs of the users who wish to be removed, but to publish hashes of them instead.

When the Hydrator hydrates the data it could then hash the User ID and see if matches one that wants to be removed and act accordingly. The problem then is that other people could easily write a tool that walks through the dataset and hi

[2020-05-14 17:42] mthomas30 opened #41 "Unexpected End of JSON input"
I am getting this error upon trying to save as a CSV. It saves correctly as JSON and this only happens when I click the csv button. I've tried it on different sized data sets as well.
![error](https://user-images.githubusercontent.com/46981381/81967019-4fae5d80-95e8-11ea-886a-d4987b9451a5.png)

[2020-05-14 21:19] mthomas30 commented on #41
Uninstalled and restarted my computer and reinstalled and seems to be working now. Still not sure why this was but perhaps installed incorrectly.

[2020-05-14 21:20] #41 closed

[2020-05-14 21:21] edsu commented on #41
I'm glad reinstalling worked. This appears to be similar to #39. @mthomas30 it if you have time it would be useful if you could add a comment there about what operating system you are running the hydrator on.

[2020-05-18 14:53] opendatasurgeon commented on #39
I am not getting this error these days even when hydrating >1500000 twitter ids text file. I will keep you in loop Mr. Summers. Thank you!

[2020-05-18 17:02] edsu commented on #39
Well that's a relief. If you notice it again and can figure out a way to reproduce please let us know. I will leave this ticket open until the app reports the JSON parse error better.

[2020-05-20 09:50] hamburgersct commented on #38
Got this, too. Have you solved this?

[2020-05-20 12:14] edsu commented on #38
@hamburgersct no, unfortunately not. it seems to only be an issue on some Win 10 installs. Something is preventing the browser window from opening. If you want we could try placing the url text for you to click on or copy/paste in the window. Would you be willing to try that?

[2020-05-20 12:21] hamburgersct commented on #38
Yes, I'd like to try that. Thanks a lot for your reply!

[2020-05-20 14:12] edsu commented on #38
Ok, give me a few hours to try something out and put a release together.

[2020-05-21 06:42] sourabhnk opened #42 "JS Error: Unexpected end of JSON Input"
Getting this error when i run a small sample of ~300 tweet IDs. None of the IDs are getting hydrated.
This is what the tool shows:
![hydratorerror](https://user-images.githubusercontent.com/61457807/82531087-4713d500-9b5c-11ea-8b5a-6b42df3e16c2.JPG)

[2020-05-21 12:45] edsu commented on #42
I think this may be a variation on #39. @sourabhnk is this problem repeatable. For example if you rehydrate the same tweet ids and try to generate the CSV does it throw the same error?

[2020-05-21 13:20] edsu commented on #42
Also, would you be willing to send me your ids and jsonl file that you generated when the error was thrown? You can attach them here or send them to ehs@pobox.com Thanks!

[2020-05-21 14:10] sourabhnk commented on #42
Hi Ed,
I tried with a different file (~300 IDs) but getting the same error.
For some reason, the JSON files are also 0kb. Could it be that there is an issue with IDs itself? I will check out #39 and sending you the CSV shortly by mail.

[2020-05-21 14:19] edsu commented on #38
It took me a few more hours than I thought to get to it, but v0.0.8 is ready for you to try. It should display the Twitter URL you will need to point your browser at if Hydrator is unable to open the browser itself.

Can you give it a try?

https://github.com/DocNow/hydrator/releases/tag/v0.0.8

[2020-05-21 14:24] edsu commented on #27
I've just released [v0.0.8](https://github.com/DocNow/hydrator/releases/tag/v0.0.8) which should display the Twitter authorization URL you will need to point your browser at which should be handy when Hydrator is unable to open the browser itself.

@kilitougo @plumcola @jsutxhx would you be willing to give it a try and see if it helps?

https://github.com/DocNow/hydrator/releases/tag/v0.0.8

[2020-05-21 14:34] hamburgersct commented on #38
![image](https://user-images.githubusercontent.com/32610103/82568972-2aa28780-9bb2-11ea-8cae-254dde25596d.png)
Thanks for your help!☺ However, it still didn't work.
I tried to click the button, but nothing happened. No new window in my browser and no URL was displayed.

[2020-05-21 14:35] edsu commented on #38
DId you see the URL to use in your browser to get the PIN?

[2020-05-21 14:38] edsu commented on #38
You say nothing happened but I see invalid PIN there in the screenshot. It would be super helpful if you could do a screencast (video) of what you are doing.

[2020-05-21 14:50] hamburgersct commented on #38
[Sreenshot_video.zip](https://github.com/DocNow/hydrator/files/4663055/Sreenshot_video.zip)
Hi, it worked just like in this video. The "Invalid PIN" seemed to appear as long as I opened the application. Nothing happened when I click the Link button.

[2020-05-21 14:57] edsu commented on #42
Yes, if the JSON file is empty that could definitely be a problem. But Hydrator should handle that situation. It hasn't come up before.

[2020-05-21 14:59] edsu commented on #38
Thanks that is actually helpful, has that Invalid PIN message always appeared there? I just uploaded [v0.0.9](https://github.com/DocNow/hydrator/releases/tag/v0.0.9) which should make a Reset button visible. Can you click Reset, and try to link again?

https://github.com/DocNow/hydrator/releases/tag/v0.0.9

[2020-05-21 15:17] hamburgersct commented on #38
[Screenshot_vid_2.zip](https://github.com/DocNow/hydrator/files/4663158/Screenshot_vid_2.zip)
Unfortunately, it still didn't work properly. No URL appeared there. But the Invalid PIN didn't appear anymore after I clicked Reset.
I will try twarc, so don't worry ;-)
Anyway, thank u Ed!!!

[2020-05-21 15:36] edsu commented on #38
Argh!

One last thing we can try if you have some familiarity with the command prompt on Windows is to open a Windows command prompt, navigate to where your Hydrator is installed and run it manually:

[code]

When you try to link the account does any kind of error message get displayed in the terminal? It's possible your Hydrator.exe is installed somewhere else. Right clicking on the Hydrator icon

[2020-05-21 15:51] hamburgersct commented on #38
Wow! You really helped me a lot! From the message in the command line, I found some errors with my network. As soon as I solve that, I believe that it can work properly. Really really thank you!😁

[2020-05-21 15:52] edsu commented on #38
NICE! what was the network problem -- does it look like it is firewall related? Please let me know if you are able to find a fix!

[2020-05-22 14:16] ArthurBoschet opened #43 "Report Twitter authorization errors."
Hello,

Thank you for sharing this app. However, I noticed that none of the buttons (datasets/ add/ settings and especially link twitter account) respond when being clicked. Is there anyway to fix this issue?

[2020-05-22 14:25] edsu commented on #43
Yes, they only start to work after you've linked your twitter account. So it sounds like that isn't working for you?

[2020-05-22 14:28] ArthurBoschet commented on #43
Yes, nothing happens when I click the Link Twitter Account button.

[2020-05-22 14:31] edsu commented on #43
Ok, we've noticed this on Windows10 but not on OS X before. If you are able it would help us a great deal if you could open a terminal window, and run the Hydrator manually by typing this and enter:

    /Applications/Hydrator.app/Contents/MacOS/Hydrator

Then if you could reset your app and try to link again? Then look and see if there are any error messges in the terminal console that you could

[2020-05-22 14:35] edsu commented on #43
For more context this seems to be related to #38 and #27.

[2020-05-22 14:45] ArthurBoschet commented on #43
After doing the above procedure this is the error message that is shown:

(electron) The default value of app.allowRendererProcessReuse is deprecated, it is currently "false".  It will change to be "true" in Electron 9.  For more information please check https://github.com/electron/electron/issues/18397
{
  statusCode: 401,
  data: '{"errors":[{"code":32,"message":"Could not authenticate you."}]}'

[2020-05-22 14:49] edsu commented on #43
Thanks! If it's not too much trouble would it be possible to see a screenshot?

[2020-05-22 14:56] ArthurBoschet commented on #43
![Screen Shot 2020-05-22 at 4 52 23 PM](https://user-images.githubusercontent.com/65563348/82680565-bc5ed300-9c4c-11ea-9d48-56ee0fa57012.png)

There is the screen shot of the command prompt

![Screen Shot 2020-05-22 at 4 54 50 PM](https://user-images.githubusercontent.com/65563348/82680737-fd56e780-9c4c-11ea-9f76-3ce6f7ce99cc.png)

And here is the app where nothing happens when I click the Link tw

[2020-05-22 14:57] edsu commented on #43
Perfect! Let me see if I can do a release that will display more information about what might be going on.

[2020-05-22 15:01] ArthurBoschet commented on #43
Thank you!

[2020-05-22 15:11] edsu commented on #43
Ok, I don't think this will fix your problem but it may provide some more details about what might be going wrong. Can you install [v0.0.10](https://github.com/DocNow/hydrator/releases/tag/v0.0.10) and run it manually again as you did before, and take a screenshot of the terminal window? Thank you!

https://github.com/DocNow/hydrator/releases/tag/v0.0.10

[2020-05-22 16:16] ArthurBoschet commented on #43
![Screen Shot 2020-05-22 at 6 13 28 PM](https://user-images.githubusercontent.com/65563348/82687767-04cfbe00-9c58-11ea-9e2d-c91341ecd888.png)

the error message seems to change with: "error when getting Twitter auth url"

[2020-05-22 16:52] edsu commented on #43
Interesting! That is an error message coming back from Twitter saying you aren't even allowed to have a URL to grant Hydrator permission to use your account.

Are you on a VPN by any chance? What ISP are you using?

[2020-05-22 17:41] ArthurBoschet commented on #43
No I am not a VPN. The ISP I use is a French one called SFR.

[2020-05-22 17:46] edsu commented on #43
I don't suppose you have a VPN that you could try from another network do you? As you can tell I'm grasping at straws as to why this would work for others but not you.

[2020-05-22 19:16] ArthurBoschet commented on #43
Yeah thank you! I tried using a VPN to spoof my location to the US in case the cause of this problem was a difference in the legislation regarding access to data based on location. But that did not seem to solve the problem. I still got the exact same error message.

[2020-05-22 20:05] edsu commented on #43
Wpw, ok. Just to make sure, could you reinstall and see if that helps?

[2020-05-23 09:14] hamburgersct commented on #38
Hi! Recently I've tried to use twarc ( but I believe Hydrator is the same) and now I realize the problem:
**These two tools cannot work properly in China because of the GFW.**
So, if someone in China needs to use these tools, he/she should try to overcome the network problem, or ask friends in other countries to help.
Anyway, thank you for developing these two wonderful tools!🤩

[2020-05-23 09:19] sourabhnk commented on #42
I have shared the csv files by mail. #39 didn't help much in my case.
Thanks for your help.

[2020-05-23 12:22] edsu commented on #38
Oh wow, so you are behind The Great Firewall!? You will need to use a VPN right? If you get a chance I would love to see the error message you got in the terminal so that the Hydrator can provide a useful error message.

[2020-05-25 04:02] cyborg-crypto opened #44 "Report JSON parsing errors."
![Capture2](https://user-images.githubusercontent.com/55827453/82777066-9c0c5f80-9e6a-11ea-9e95-b9b31bf32f01.PNG)

[2020-05-25 13:23] edsu commented on #44
Thanks for reporting this. It is more widespread than I thought! Could you look and see what the file size is on your .json file? I suspect it might be zero?

Also, this ticket is a duplicate of #42 so please follow that ticket for further information.

[2020-05-25 13:23] #44 closed

[2020-05-25 13:27] edsu commented on #42
@sourabhnk it appears that your tweet ids have been corrupted by opening them with Excel and saving them. Excel is unable to handle the large numbers and converts them to ending with zeros instead of the correct numbers.

This means that none of the tweets are able to hydrate, and when you go to convert the JSON to CSV there is nothing to convert. The Hydrator should report when the JSON file is e

[2020-05-26 01:17] cyborg-crypto commented on #44
Yeah sorry ed! as I didn't read the ticket #42. Yeah the size of the .json file is 0kb.
As you mentioned excel corrupts the twitter ids is there any other alternative way to get twitter ids from a relevant dataset and convert it into a text file?

[2020-05-26 03:47] sourabhnk commented on #42
Yes Ed, I had extracted tsv file and used Excel to save it in csv. Probably that could be the cause.
Let me use the original file and redo this again.
As to the problem of reporting, I am not sure where it went wrong.

[2020-05-26 12:38] edsu commented on #42
Awesome, thank you @sourabhnk. The reporting issue isn't something you did wrong, it is an improvement we need to make in the application!

[2020-05-29 06:39] sourabhnk commented on #42
Hi Ed,
I have couple of updates on this issue:
1. For converting tsv file of tweet IDs, when I use read.table or read.csv in R, the IDs get corrupted moment the dataframe is created in R environment. But when I use fread, this issue doesnt crop up. So tweet IDs are maintained in their original form.
2. Hydrator does throw up an error prompt only when the first row has a wrong ID.

Having said this

[2020-05-29 15:33] MaryamMoghadam commented on #43
Hey, I am in the US and tried to install the hydrator but I got the exact same errors as mentioned above. I followed the steps you mentioned but it didn't resolve my issue either. Were you able to solve this issue by any chance?

[2020-05-29 15:44] edsu commented on #43
What platform are you on @MaryamMoghadam?

[2020-05-29 15:51] edsu commented on #42
Thanks for the update @sourabhnk. I am starting to think we should encourage people to share tweet ids in a quoted form in .csv files to prevent this sort of thing from happening. You arent the first person to run into this problem and won't be the last!

I'd like to keep this issue open until the Hydrator better reports problems with empty or malformed JSON files. Thank you for your help in diagn

[2020-05-29 17:48] MaryamMoghadam commented on #43
@edsu macOS Catalina Version 10.15.4

[2020-05-29 19:25] edsu commented on #43
Weird. What ISP are you on? We havent been able to find a cause for why some people are experiencing this.

[2020-05-29 20:01] MaryamMoghadam commented on #43
@edsu  It's XFINITY.

[2020-05-29 21:16] MaryamMoghadam commented on #43
Yes I connected to two different Campus networks using VPN and ran hydrator manually but no luck.

[2020-05-30 13:29] edsu commented on #43
Thanks for checking @MaryamMoghadam. Did you try the advice above to open a terminal window and see what the error message was?

...

If you are able, it would help us a great deal if you could open a terminal window, and run the Hydrator manually by typing this and enter:

/Applications/Hydrator.app/Contents/MacOS/Hydrator

Then if you could reset your app and try to link again? Then look and see

[2020-05-30 14:11] edsu commented on #44
How did you do it?

[2020-05-30 22:31] tencups commented on #43
I also receiving the same error.

[2020-05-31 01:08] edsu commented on #43
@tencups what operating system are you using?

[2020-05-31 01:09] tencups commented on #43
Windows 10, its actually working now i just installed then latest build
directly without cloning.

On Sat, May 30, 2020 at 9:08 PM Ed Summers <notifications@github.com> wrote:

[2020-05-31 01:38] edsu commented on #43
Ahah! Thank you, it never occurred to me that people would build themselves without getting developer keys. I think you have solved this!

@MaryamMoghadam are you building from source too?

[2020-06-03 01:31] 1eclipse commented on #25
hello, i do not know how to install and use hydrator. i have download hydrator from github. What should I do next? I'm confused. my machine is winOS. Can you give me some help? Thank you!!!

[2020-06-03 01:33] 1eclipse commented on #27
hello, i do not know how to install and use hydrator. i have download hydrator from github. What should I do next? I'm confused. my machine is winOS. Can you give me some help? Thank you!!!

[2020-06-03 01:34] edsu commented on #25
Did you download an installer from here?
https://github.com/DocNow/hydrator/releases

[2020-06-03 01:41] 1eclipse commented on #25
yes, i install the the latest version.
"hydrator_0.0.10_amd64.deb" and "Source code(zip)"  the two file

I downloaded these two files. i do not how to use it.

[2020-06-03 01:46] edsu commented on #25
I just noticed that there is no Windows installer for v0.0.10. I will fix that but in the meantime can you download the v0.0.9 Windows installer and run it?

Hydrator-Setup-0.0.9.exe

[2020-06-03 02:05] 1eclipse commented on #25
Thank you! I have installed it successfully. When i click 'Link Twitter Account', I get no feedback. What's the problem? (ps: I can access the Internet with vpn)

[2020-06-03 02:23] edsu commented on #25
Can you try with a VPN? Are you in China or another country that blocks Twitter?

[2020-06-03 02:27] 1eclipse commented on #25
yes ,i am in China, so i use 'Shadowsocks' to access twitter.

[2020-06-03 03:07] 1eclipse commented on #25
i have seen your other answers. i tried powershell to monitor. When i link the account, the terminal without feedback.  I do not know what was the problem.

![Uploading (B0W)T$41E{@`HV%[7A4N`W.png…]()

[2020-06-03 03:07] 1eclipse commented on #25
i have seen your other answers. i tried powershell to monitor. When i link the account, the terminal without feedback.  I do not know what was the problem.

![(B0W)T$41E{@`HV% 7A4N`W](https://user-images.githubusercontent.com/32739452/83591385-63673700-a58a-11ea-9d60-cebc634047f4.png)

[2020-06-09 16:06] SebasAas commented on #43
Hello! I have the same problem, when i click the "Link Twitter Account" button.

getting Twitter auth url
error when getting Twitter auth url
{
  statusCode: 401,
  data: '{"errors":[{"code":32,"message":"Could not authenticate you."}]}'
}

SO: I test it in 2 diferents PC both with Windows 10, and i have the same problem in both

[2020-06-09 16:09] edsu commented on #43
Sorry to hear that @SebasAas. Did you build the app from source or use an installer?

[2020-06-09 16:13] SebasAas commented on #43
Hello @edsu , from source, i clone the repo and install via command prompt.

[2020-06-09 16:29] edsu commented on #43
@SebasAas Great! I apologize, our docs weren't really clear on what you need to do when building from source. I've just added a note to the [Develop](https://github.com/docnow/hydrator/#develop) README indicating that to build the Hydrator you need to go to register as a developer on Twitter, create an app, and put the app keys in a .env file in your project directory:

But, you should be able to

[2020-06-09 16:47] SebasAas commented on #43
@edsu Perfect, the prebuild version works for me, thanks a lot

[2020-06-09 17:22] edsu commented on #43
Awesome, I'm so glad to finally close this issue! Thanks for verifying @SebasAas.

[2020-06-09 17:22] #43 closed

[2020-06-09 17:26] edsu commented on #27
Please download a Windows installer from here:

https://github.com/DocNow/hydrator/releases/

Look for a release like:

* Hydrator-Setup-0.0.11.exe

Once you download and run that you should have a workable Hydrator on windows. I think many people were confused because they were attempting to build Hydrator from source which does not include keys. Instructions for adding your own keys have since b

[2020-06-09 17:26] #27 closed

[2020-06-21 06:12] JROliver3 opened #46 "Automated Data Processing At Scale"
Does this work on multiple CSV files? I'm thinking of making an automated hydration job based on the contents of a single folder either locally or on a server. Is there a way to automate access to the application through a CLI or run it locally to parse through a directory?

[2020-06-21 13:46] edsu commented on #46
Hi @JROliver3 -- thanks for the question.

If you want to automate hydration I suggest you take a look at our other utility [twarc](https://github.com/docnow/twarc). It is a command line utility, but also a Python software library. Hydrator was really designed for people who are comfortable doing data analysis on CSV files, but aren't familiar with running things from the command line or doing sys

[2020-06-24 02:50] opendatasurgeon opened #47 "Tweet deletion inconsistencies"
Hello Mr. Summer, hope you're doing well. I did go through #31 and I agreed with what you said-
[code]

But I have a small question! I hydrated some text files towards the end of last month; I got them from [https://github.com/echen102/COVID-19-TweetIDs/tree/master/2020-05](https://github.com/echen102/COVID-19-TweetIDs/tree/master/2020-05), which were full of tweedIDs in many text files.

So for e

[2020-06-24 04:11] SamHames commented on #47
Small note - 51% hydration rate does not mean 49% deletion rate.

A tweet can be inaccessible for rehydration for many reasons such as:
- the tweet was deleted by the user
- the user deleted or deactivated their own account
- twitter suspended or permanently removed the user
- twitter deleted the tweet
- the user made their account protected (only visible to followers)

It's possible that a user o

[2020-06-24 05:07] JROliver3 commented on #46
@edsu

Thanks a bunch for the reply. This will be a huge help and will prevent a lot of work for me in the future (considering that I don't know much about the hydration process on my own). Coincidentally (or maybe not) I'm also working on a COVID-19 related project using scraped data from Twitter, so it sounds like that project should be perfect. I'll check it out.

My problem is resolved, closin

[2020-06-24 05:07] #46 closed

[2020-06-24 13:52] opendatasurgeon commented on #47
Thank you mr @SamHames I did not believe the difference myself however that's really is the case. You're right, today we will be investigating what could have happened. Appreciate your response sir!

[2020-06-24 16:07] edsu commented on #47
Yes, thanks @SamHames. I think staying focused on specific examples will help to gain clarity.

I just hydrated https://github.com/echen102/COVID-19-TweetIDs/blob/master/2020-05/coronavirus-tweet-id-2020-05-11-10.txt and got a deletion rate of 11%.

Is it possible you opened the id file with Excel and saved it when you hydrated the first time? Excel corrupts the ids because it is unable to represe

[2020-06-24 16:27] opendatasurgeon commented on #47
Hello Mr. Summers. Yes, i think there is no bug in the application. I did check the updates between v0.0.7 and the current one v0.0.11 and i see no patches regarding issues of deletion percentages bug. I also checked issues with deletion. So that means no body encountered it.

Regarding MS Excel being involved, no sir, we just merged all smaller text files together to create 1 text for each day. A

[2020-06-24 19:31] #47 closed

[2020-06-27 09:16] rahulbordoloi opened #48 "A JavaScript error occurred in the main process"
OS : Windows 10

Problem : Each time I try hydrating big dataset, I'm facing this Error. Though this error do-not show up for smaller dataset. Can you please look after this issue?
The Screenshot for the same has been attached.

![Problem](https://user-images.githubusercontent.com/51340365/85918946-bfb93000-b884-11ea-84d3-7fcb3f0a4a18.JPG)

[2020-06-27 14:28] edsu commented on #48
Thanks @rahulbordoloi does this happen when you are converting to CSV?

[2020-06-27 14:29] edsu commented on #48
Accidentally closed this on my phone, but I reopened it!

[2020-06-27 15:39] rahulbordoloi commented on #48
@edsu Yes, the JSONL format is working fine but when I try the same with converting it to CSV the above error shows up. And the CSV File created is of 0KB ie undefined.

[2020-06-27 16:41] edsu commented on #48
Ok, I suspect that there is a corrupted line in the JSONL file. I will try this too.

[2020-06-28 00:53] rahulbordoloi commented on #48
Tho, the chrome json parser works fine in my case, do you want me to send you the tweets id csv from which I hydrated the following jsonl and csv? If yes, you can drop off your mail here.

[2020-06-28 01:00] edsu commented on #48
Sure I am ehs@pobox.comOn Jun 27, 2020 8:53 PM, Rahul Bordoloi <notifications@github.com> wrote:
Tho, the chrome json parser works fine in my case, do you want me to send you the tweets id csv from which I hydrated the following jsonl and csv? If yes, you can drop off your mail here.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe

[2020-06-28 01:06] rahulbordoloi commented on #48
Sent. Please Check Once.

[2020-06-28 16:28] edsu commented on #48
Hydrator appears to be writing a blank line to the JSONL file when none of the tweet ids can be hdyrated. This is pretty rare unless the tweet ids have been corrupted in some way. But nevertheless it should not write blank lines because they could be problematic for downstream users of the JSONL that are attempting to find a complete JSON object on each line.

I noticed that there were blank lines

[2020-06-28 16:41] rahulbordoloi commented on #48
Do the blank lines in between create a problem for me to work on with the JSONLs?

[2020-06-28 17:22] edsu commented on #48
It depends on how you are processing them. Some JSON parsers may not care about being asked to parse a blank line. But it was the case that the Hydrator did care, it was throwing the error reported when it was attempting to parse a blank line.

When you get a chance could you give [v0.0.12](https://github.com/DocNow/hydrator/releases/tag/v0.0.12) a try and see if your problem generating the CSV go

[2020-06-29 03:20] rahulbordoloi commented on #48
Regarding the Tweet IDs, I think the file might have been corrupted while downloading or I might have corrupted it somehow by opening it in Excel. Can you suggest me a batter way to go through the Tweet IDs beforehand without changing their type and corrupting them, just for a look through?

And Yes, I can now generate a CSV File now from the Generated JSONL. Thank You for the Fix and Happy to Con

[2020-06-29 19:20] edsu commented on #48
I recommend you use a text editor like VSCode, Emacs or Vim to inspect the ids. You may be able to open them in Excel but don't save them again, or else they will overflow and become useless. Thanks for reporting this issue. I'm closing for now since it seems like the latest version of Hydrator will not write blank newlines to the JSONL in these cases where large numbers of tweet ids cannot be hyd

[2020-06-29 19:20] #48 closed

[2020-07-06 09:03] pamphilusTex opened #49 "Nothing happens when I click the button "Link Twitter Account"."
I installed the Hydrator on Windows (using Hydrator-Setup-0.0.12.exe). And then I clicked the button "Link Twitter Account" under settings, but there was no response. Is there anything else I need to do?
I got some Twitter ids from the public data set. And I want to hydrate Twitter ID datasets. In addition, I applied for Twitter developer account but failed. So I only have a regular Twitter accoun

[2020-07-06 09:50] pamphilusTex commented on #49
I am using Windows 10 Pro and I tried to turn off the firewall and VPN. Moreover, I tried to install Hydrator-Setup-0.0.11.exe. And I ran the program from the command line. After I clicked the button "Link Twitter Account",  it showed:
(electron) The default value of app.allowRendererProcessReuse is deprecated, it is currently "false".  It will change to be "true" in Electron 9.  For more informat

[2020-07-08 08:33] rtrad89 opened #51 "Partial CSV file with disabled CSV button when Hydrator is closed too soon"
I was hydrating half a million tweets and since it was the first time I use Hydrator, I clicked the `CSV` button upon it finished and once I saw the CSV file I innocently closed Hydrator. However, the CSV file was incomplete and it contained around 300k tweets rather than 500k. When trying to re-save the CSV file from the `Datasets` tab, I couldn't as the button was disabled.

I tried to convert t

[2020-07-15 08:51] rtrad89 opened #52 "A typo in the generated CSV file: reweet_id"
When generating the `CSV` file out of the `JSONL` hydration, there's a column which I use to check if a tweet is a retweet or original: `reweet_id`, and it should be `retweet_id` I assume.

[2020-07-15 12:20] #52 closed

[2020-08-09 04:41] dem1995 opened #54 "Authentication issue - TwitterPinAuth's requestAuthURL (through the "Link Twitter Account" button)"
I'm attempting to run the program through `yarn run develop`.

Hitting "Link Twitter Account" errors out in the requestAuthURL call (provided by `twitter-pin-auth`). For the specific output, I get

I receive this error on both Ubuntu 20.04.1 LTS and on Raspbian, both running on a 32-bit ARM Raspberry Pi B.

[2020-08-09 04:43] dem1995 opened #55 "Feature Request: 32-bit ARM Debian/Ubuntu release"
Sorry if this isn't the right place for this, but I've spent most of the day today trying to get this running on a Raspberry Pi, and was hoping you might release a 32-bit ARM .deb release in the same manner as the others. I figure Raspberry Pis have to be a pretty popular IoT device for tasks like this, so I imagine it would be helpful to others too.

Regardless of whether you get around to it/ it

[2020-08-09 23:26] abdulrehmanmian opened #56 "CSV option is greyed out"
I just got done with a 100 gb jsonl file but the csv option is greyed out, how to solve this?

[2020-08-18 12:31] edsu opened #57 "Notice of Authentication Errors"
I've noticed that I need to reauthorize my Hydrator app after shutting down. It doesn't seem to happen all the time, but when it does the Hydrator just fails silently. It should instead report the problem visually and let the user relink their Twitter account.

[2020-08-27 00:12] Nabilah95 opened #58 "Limit of records"
Hi, I want to know the limitation of records that Hydrator can hydrate. Will I be able to hydrate a total amount of 125,680,841 Twitter API?

[2020-08-27 01:11] edsu commented on #58
I just hydrated 32 million ok. It took about a week but i didn't run it continuously. I did notice it periodically stopped hydrating. I relinked the account and then things started working again. For 125 million you might want to use twarc on a server, that doesn't turn off. But hydrator should work too.

[2020-08-27 02:10] Nabilah95 commented on #58
Thank you for responding, may I know what the RAM of your laptop? Is it 4, 8 or 16 GB RAM?

[2020-08-27 10:30] edsu commented on #58
8GB,  but RAM shouldn't be an issue. It is mostly network bound. Definitely use the latest version of the Hydrator (v0.0.13) since it fixes a CPU performance issue that was in some of the earlier versions.You may want to try a smaller dataset to see how it goes before committing to hydrating such large dataset. You wi also want to make sure you have enough available disk space.On Aug 26, 2020 10:1

[2020-09-16 10:42] dreboy493 opened #60 "CSV text is truncated, can full_text be included?"

[2020-09-18 13:47] kkk279 commented on #15
Thanks Ed. I am about to give hydrator a shot with a large dataset. Sorry
for the delay in responding, as I was preparing for the defense of my
dissertation.

Best
Kelvin

On Sat, May 2, 2020 at 5:55 AM Ed Summers <notifications@github.com> wrote:

[2020-09-18 14:58] edsu commented on #15
Did you defend already?!?!

[2020-09-18 19:13] kkk279 commented on #15
Yes I successfully defended.  :-)

Best
Kelvin

On Fri, Sep 18, 2020 at 9:59 AM Ed Summers <notifications@github.com> wrote:

[2020-09-23 21:21] kkk279 commented on #15
Hello Ed,

I hope you are doing well. I keep getting this error when I use Hydrator
(find attached ). A little background. There were  a set of daily tweet ids
that I needed to hydrate. In order to save time, I merged all tweets into
one file (weekly tweets) and then "hydrate". I do not get the same error
message using twarc. What do you think?

Best Regards
*Kiiki*

On Fri, Sep 18, 2020 at 9:59 A

[2020-09-24 00:58] edsu commented on #15
What's the error?

[2020-09-24 05:25] kkk279 commented on #15
It says "invalid tweet id on line 34086532 in C:\Users..."

Best
Kelvin

On Wed, Sep 23, 2020 at 7:58 PM Ed Summers <notifications@github.com> wrote:

[2020-09-24 12:29] edsu commented on #15
Ah I bet you have a blank line there, or something that is not a number? Are you having trouble seeing what is there because the file is so big?

[2020-09-24 12:32] kkk279 commented on #15
Yes. I have tried looking for the line but couldnt find it. Its a big file.

Best
Kelvin

Sent From Kiiki's V20

On Thu, Sep 24, 2020, 7:29 AM Ed Summers <notifications@github.com> wrote:

[2020-09-24 21:57] kkk279 commented on #15
For context, even though it says that there's an invalid character in line
34086532. The total number of lines is under 30000000. Thanks.

Best
Kelvin

On Thu, Sep 24, 2020 at 7:29 AM Ed Summers <notifications@github.com> wrote:

[2020-09-24 22:04] kkk279 commented on #15
What I ended up doing was copying the tweets to a new file and renaming it.
That solved the issue. The total number of tweets and the size of the file
remained the same. Might be a bug that throws its line counts off?

Best
Kelvin

On Thu, Sep 24, 2020 at 7:29 AM Ed Summers <notifications@github.com> wrote:

[2020-09-24 22:25] edsu commented on #15
It sounds like a big file, but if you can share it with me I will take a look.

[2020-09-25 14:48] kkk279 commented on #15
Sure, do you have a link or google drive you want me to drop the files to?

Best
Kelvin

On Thu, Sep 24, 2020 at 5:25 PM Ed Summers <notifications@github.com> wrote:

[2020-09-25 15:42] kkk279 commented on #15
I have shared the file with you. You should receive the link momentarily

Best
Kelvin

On Fri, Sep 25, 2020 at 9:47 AM Kelvin King <kkk279@nyu.edu> wrote:

[2020-09-25 15:48] #58 closed

[2020-09-25 15:50] edsu commented on #15
Ah yes, I see there is a control-Z (0x1a) on the last line of the file. If you remove that you should be fine.

[2020-09-25 16:10] kkk279 commented on #15
Oh I did. But it still gave me an error message. What helped was recopying
the entire contents unto a new txt file. After that it worked.

Best
Kelvin

Sent From Kiiki's V20

On Fri, Sep 25, 2020, 10:50 AM Ed Summers <notifications@github.com> wrote:

[2020-10-01 23:29] leslie-huang opened #61 "Tweed IDs Read/Hydrated is greater than Total Tweet IDs and Hydrator keeps fetching tweets"
Hi, I'm trying to hydrate a subset of the 115th Congress tweets from https://catalog.docnow.io/datasets/20190222-115th-us-congress-tweet-ids/ (I already have a partly overlapping dataset).

Hydrator is still fetching tweets even after Total Tweet Ids Read has exceeded total tweet IDs. The "Stop" button has been replaced with the "CSV" button (which makes it seem like it's done?) but the number of

[2020-10-02 00:46] edsu commented on #61
Oh no, that is not good! 5% is very low. If you are on a Mac I would be interested to know if you could count how many lines are in your JSON file.

    wc -l tweets.jsonl

Were you hydrating two datasets at the same time? That is something I can test with too. Did you leave the computer on the continuously or did you close the lid of your computer? I'm just trying to understand what might have ha

[2020-10-02 01:03] edsu commented on #61
I downloaded the same dataset and started hydrating the `representatives-1.txt` and `senators-1.txt`files concurrently. One thing I noticed is that the total number of tweet ids (prior to hydration) is different from yours.

* representatives-1.txt: 1,522,189
* senators-1.txt: 519,210

Are you sure this is the dataset you are using? If you can share your tweet id files with me I can test with them

[2020-10-02 01:09] leslie-huang commented on #61
Hi Ed!

I'm using this txt file of tweet ids: https://github.com/leslie-huang/congress_tweetdata_prelim/blob/master/tweet_ids_to_hydrate.txt
I combined the reps + senators ids from the 115th Congress dataverse files, and then I subtracted a set difference with ids from another dataset of tweets that I already have -- so that's why the total number of tweet ids is smaller.
I did the same thing for

[2020-10-02 01:12] leslie-huang commented on #61
The number of lines in the jsonl is 2003053 🤔

I started downloading the 115th dataset first, then started downloading the 116th dataset concurrently after 400k+ items in the 115th dataset were done. I haven't closed the lid on my computer and I set it to not sleep for about 4 hours while I was away from my desk. I didn't have to reauthenticate or anything like that at any point. Hope this info he

[2020-10-02 01:21] edsu commented on #61
One thing you can try doing is starting the hydrator again but from a terminal so you can see the log messages. If you are on a Mac I think you can open a terminal and then start the Hydrator like this:

    /Applications/Hydrator.app/Contents/MacOS/Hydrator

It would be interesting to see if those lines in the file you counted have JSON on them or not. I would be interested in the end of the file

[2020-10-02 01:22] edsu commented on #61
Also, twarc is always an option if Hydrator is giving you trouble. The only thing you will need to have are developer keys. But that is probably the hardest part. I'm happy to help you use twarc if Hydrator continues to be a problem.

[2020-10-02 01:46] leslie-huang commented on #61
Hi Ed, I've finished scanning through the jsonl file and things are looking a little wonky.

I requested: 1671651 tweets
Tweets collected = 2003052 (skipped one line in the json, details below)
After checking for duplicates... collected tweets = 1188229

requested.difference(collected) = 483422 (items requested but did not collect)

collected.difference(requested) = 0 (items collected but did not

[2020-10-02 01:49] leslie-huang commented on #61
here's the tail of the .jsonl:

[code]

and yes I noticed the short tweet ids too...I haven't checked yet whether they were successfully fetched but I can follow up if that would be of interest to you.

[2020-10-04 10:42] edsu commented on #61
@leslie-huang interesting! so am I reading your note correctly that the same ids were requested over and over?

PS. I didn't see anything wrong with the line of JSON you pasted. But it was printed out as a Python object ("false" was False, null was None, etc).

[2020-10-04 13:40] leslie-huang commented on #61
Yes, when I looked at the unique tweet ids in the jsonl file of ~2 million tweets, there were only ~1.2 million unique tweet ids, so about 800k duplicates. I didn't look closely at whether it was 800k copies of one tweet (for example) or a different breakdown, but since then I've hydrated a few more lists of tweets without any issues!

This tool has saved me a lot of time in putting together a dat

[2020-10-04 15:41] edsu commented on #61
Thanks for noticing the repeated tweet identifiers in the jsonl, It will help me diagnose whet might be going on here. I'm glad to hear that it is working again!

[2020-10-05 19:09] TestingGround00 opened #62 "STREAM data & REST data don't match"
Hi, first of all thank you very much for making tools like this. I have a question, we collected tweets back in june using STREAM method. Obviously, all the retweet count, favorite counts etc. were 0 because we collected tweets live.

In our STREAM data, we have a `user.id_str = 769927759791394816` shooting `id_str = 1276362330155204608` the tweet text as follow (truncated to prevent harm):

_"...

[2020-10-05 19:40] opendatasurgeon commented on #56
That's huge for this app I believe, you may have to do it yourself. In case you don't have enough RAM memory, your best bet would be to read it in through a python or R environment in chunks then write that chunk to csv then clear the memory then repeat until final line (you can search online, a lot ways to do that). Or if you have limited memory, you can go ahead and use the Linux terminal (not s

[2020-10-05 19:52] opendatasurgeon commented on #60
You should double check the spellings before you post something and please provide little more information. Anyways, yes the default .csv from Hydrator will have the text column truncated (only for the tweets that are RT I believe, some one double check me), but you can read this jsonl file in an R or python environment, and get the `full_text` column, which contain full texts for the tweets. Good

[2020-10-05 20:18] edsu commented on #60
This is a duplicate of #26 -- it needs to be done though!

[2020-10-05 20:18] #60 closed

[2020-10-05 20:36] edsu commented on #62
Hi @TestingGround00. To my knowledge `user.id_str` is unique and guaranteed to be stable for a given tweet, so there is probably some confusion about the data.

I just hydrated tweet id 1276362330155204608 using both [twarc](https://github.com/docnow/twarc) and Hydrator and they returned a tweet that was sent by user id 1221505866203062272.

Tthis tweet was a *retweet* of a tweet with id 127584466

[2020-10-06 01:05] TestingGround00 commented on #62
Thank you @edsu for your generous time. To be fair, I and my team mates have gone to all our scripts. We spot nothing. We may need a fresh set of eye, we will let our professors know :) Appreciate the time.

[2020-10-06 01:05] #62 closed

[2020-10-06 01:06] edsu commented on #62
I'm happy to take a look too if you need an extra set of eyes. It is curious!

[2020-10-12 08:48] rtrad89 commented on #56
Is #51 related?

[2020-10-12 09:13] rtrad89 opened #65 "Hydrator closes suddenly with no errors"
I am Hydrating `GeoCoV19 ` dataset which corresponds to May the 1st. Hydrator was working fine till it stopped hydrating and suddenly closed with no error messages.

Reopening the program and clicking `Start` would trigger the same behaviour: it simply shuts down with no explanations.

I checked the ids around where it stopped and they are legit, without any overflow. I restarted the machine as we

[2020-10-12 10:47] rtrad89 commented on #56
Here's a basic snippet of code in Python 3x -- just replace `[INPUT]` with your `jsonl` filename, and insert a desirable name for the output `csv` in place of `[OUTPUT]`

[code]

[2020-10-12 16:16] rtrad89 commented on #65
I have used a Python script to convert the current state of `jsonl` hydrated tweets into a `csv` file as a workaround.

The script's code:
[code]

[2020-10-13 17:14] rtrad89 commented on #42
As a note: to avoid the overflow problem simply you can open the file in `Notepad++` and use the following in the `Replace` window:

| Textbox | Value |
| --- | --- |
|Find what: | ^(\d+).\d+$|
|Replace with: | \1 |

Then hit `Replace All` and wait a bit.

Be sure to remove the header line in the `tsv` file too and to remove the empty line at the end of the file.

[2020-10-13 17:33] edsu commented on #65
What operating system are you using @rtrad89?

[2020-10-14 08:00] rtrad89 commented on #65
Microsoft Windows 10 Pro x64, version 2004

[2020-10-21 13:07] rtrad89 commented on #51
Reporting that the same problem happens when the name of the hydrated `jsonl` file is changed and the tool can't locate it. The `CSV` button never reactivates again after fixing the name.

[2020-10-21 13:39] edsu commented on #51
Yes, the conversion to CSV has to be tracked better internally in the app. For large datasets the conversion can take time and should be fault tolerant.

[2020-10-21 13:41] rtrad89 commented on #51
Thank you. Is there any way to run the underlying convertor?

[2020-10-21 15:18] edsu commented on #51
Alas, no. But the converter that's embedded in the Hydrator is a JavaScript version of a separate Python utility: https://github.com/DocNow/twarc/blob/main/utils/json2csv.py

If you want help installing and running it feel free to drop into our Slack channel. https://bit.ly/docnow-slack

[2020-10-26 20:45] Gautamshahi opened #66 "Overflow of tweet id, Hydrator keeps extracting the tweets"
Hi,

Hydrator keeps extracting the tweets, is there any solution to deal with it?

![image](https://user-images.githubusercontent.com/3966230/97226567-734f1400-17d4-11eb-86b4-95db8b39d1ed.png)

[2020-10-26 21:35] edsu commented on #66
Duplicate of #61

[2020-10-26 21:35] #66 closed

[2020-10-28 02:27] TestingGround00 commented on #62
Thank you for the gesture, sir but I would rather not waste your time :)

[2020-10-29 10:50] Gautamshahi commented on #61
Hi,

I don't see any solution for the issue.  I counted the lines which more than the actual number of tweet IDs.

Regards,

[2020-10-29 10:56] edsu commented on #61
Yes this issue is still open. I think that the bug is related to some kind of unhandled network error, or perhaps an API error during hydration. If you can easily share your ids and your jsonl file with me at ehs@pobox.com it might help me diagnose what is going on.

[2020-10-29 11:04] Gautamshahi commented on #61
Okay, thank you, yes I can share the ids, actually this error happening for only a few files. One more point, sometimes green colour overflows the progress bar while some it stays in the middle even of progress bar even it already crawled all tweets.

[2020-10-29 11:09] edsu commented on #61
Thanks. That's good to know it is working sometimes. So does the same tweet ID file repeatedly cause a problems? If so that would be very helpful for me to test with.

[2020-10-29 11:12] Gautamshahi commented on #61
I sent the file, it has around 30 millions tweet Id. Please update if you find the bug.

[2020-10-29 11:33] edsu commented on #61
Thanks! So just to be clear: you have attempted to hydrate this file more than once and it has created the same problem?

[2020-10-29 11:35] Gautamshahi commented on #61
Welcome :) Yes, I tried 2 times.

[2020-10-29 13:27] edsu commented on #61
Experimenting with a small set of ids while flipping my wifi connection on and off resulted in getting the progress bar to overflow (see Short Test 4 in the screeshot beow). But this didn't happen reliably: sometimes the hydration finished ok. So clearly his error seems related to a timing issue. I'm guessing it is Promise related down utils.twitter. I noticed this error on my console (I was runni

[2020-10-29 13:30] Gautamshahi commented on #61
Thanks a lot for your effort. Do you still need JSON file from my side?

[2020-10-29 13:37] edsu commented on #61
No, I don't think I need the jsonl file @Gautamshahi. If you are on a Unix system and want to see if your jsonl contains duplicates you can do this (assuming you have [jq](https://stedolan.github.io/jq/) installed).

    jq -r .id_str tweets.jsonl | sort | uniq -c  | sort -n

If you see lines at the end that start with a number other than 1 that means you got duplicates too.

[2020-10-29 14:03] edsu commented on #61
I can replicate it reliably now by turning off wifi, and stopping and starting hydration, and then re-enabling wifi!

[2020-11-02 22:54] Gautamshahi commented on #61
Hi, Did you find any solution for it?

Any lead will be a great help.

[2020-11-03 11:35] santoshbs opened #67 "Why are the tweets hydrated less than read?"
I just started using Hydrator. After first run I see that number of tweets hydrated (~20,000 tweets) is way less than the total tweets to hydrate and read by the Hydrator app (~5 million tweet ids). Not sure why is this happening. Am I doing anything wrong?

[2020-11-10 07:41] chbdetta commented on #55
This app is built with the electron-builder, which supports building with armv7l arch. You just need to change how this app packs:
In `task/distribution.js` modify:

[code]

[2020-11-12 15:28] dem1995 commented on #55
Thank you! I will try this when I have some time.

[2020-11-12 15:28] #55 closed

[2020-11-15 15:05] santoshbs opened #68 "Many tweets not hydrated in the first iteration"
I am trying to hydrate tweets from this dataset: https://catalog.docnow.io/datasets/20200812-metoo-digital-media-collection/

The first time I ran this about 6 million were not hydrated. I ran the hydrator on the failed tweets and in the second iteration it fetched over 100,000. Every time I take the failed tweets set and re-run the hydrator, I get additional tweets.

Not sure what is happening an

[2020-11-15 18:13] edsu commented on #68
Hi @santoshbs, can you share how are you identifying the unhydrated tweets?

[2020-11-16 09:05] santoshbs commented on #68
For every iteration, I read the IDs in the hydrated CSV file generated by hydrator and compare it to the master list of ids that need to be hydrated. Here's the R code I have for this purpose:

[code]

[2020-11-16 15:30] edsu commented on #68
Unfortunately, I don't know R so I can't verify the logic you have there in this line:

    dfOut= dfDehydrate[, DONE := FALSE][dfAlready, DONE := TRUE, on = .(id)]

But I can give it a try on my end to see what I find if it is helpful. It is the case that the status of tweets is always changing. It isn't unusual to see tweets that were protected become unprotected (public) for example.

[2020-11-16 17:20] santoshbs commented on #68
Thanks @edsu.

As you can see in the snapshot each successive iteration with Hydrator returns tweets. I am not sure if changing to unprotected status in the interim can explain this.

[2020-11-17 15:40] edsu commented on #68
Can you describe what the screenshot is showing?

[2020-11-17 17:25] santoshbs commented on #68
@edsu, each item in the snapshot is an iteration run on a list of tweets that were not hydrated. After every iteration, I find the missing tweets using the R code shown above and run the Hydrator again.  So #metoo 4 is an iteration on tweets that were not hydrated in iteration 3. Hope this clarifies.

[2020-11-17 18:06] edsu commented on #68
So when you hydrated 5,805,608 tweets in `#metoo 3` only 14,757 were hydrated!?

[2020-11-17 19:29] santoshbs commented on #68
@edsu - Yes, you are right.

[2020-11-17 20:52] edsu commented on #68
@santoshbs  can you point me to the specific id file for me try?

[2020-11-18 15:03] santoshbs commented on #68
@edsu - here's the link to the file that I am using for hydration in the most recent run: [](https://www.dropbox.com/s/2v5coi2fs5dlacp/dehydrate_round10.txt?dl=0)

[2020-11-20 10:47] santoshbs commented on #68
@edsu  - any luck withdiagnosing the issue?

[2020-11-20 15:17] edsu commented on #68
Thanks! I did test with the file you sent. I ran it for a few moments and noticed that out of 11,300 tweet ids it was able to hydrate 9.

![Screenshot from 2020-11-20 09-47-19](https://user-images.githubusercontent.com/33829/99813228-6abcd580-2b15-11eb-8642-a0dca43c32cd.png)

The low hydration rate is expected because these ids are among those you were previously unable to hydrate. So that part ma

[2020-11-20 16:12] santoshbs commented on #68
Thanks a ton. I look forward to your kind follow-up.

I am still very surprised that in a matter of a couple of hours a lot more tweets become available when re-hydrated.

[2020-11-20 20:11] edsu commented on #68
#metoo to be honest. It would be interesting to do some research to see what is going on. Thank you for sharing this approach to processing the unhydrated tweets!

[2020-11-20 20:17] edsu commented on #68
@santoshbs check out the [response](https://twitter.com/southpaw_GA/status/1329812621239914496), it looks like hypothesis 1 was correct, at least in that one case!

[2020-11-20 21:09] santoshbs commented on #68
@edsu,  thanks for your very kind help. This clarifies the issue.

[2020-11-21 05:05] #68 closed

[2020-12-02 22:39] gavinrozzi commented on #67
You are not doing anything wrong. This is the expected behavior. I am currently using Hydrator for a project and about ~50% of the tweet IDs are unable to be hydrated. Could be a variety of reasons - the user could have deleted their tweet, their account could have got suspended, or Twitter took their tweet down etc.

[2020-12-02 23:37] edsu commented on #67
50% is high though. Delete rates I've seen are usually less than 20%. But I guess it is dataset dependent. One thing to make sure is that you haven't corrupted the ids by opening them with Excel and saving it. Excel can't deal with the large integers and they overflow so that the last two digits are always zero. So take a look at your ids and make sure they don't all end in zero.

[2020-12-02 23:46] gavinrozzi commented on #67
Thanks Ed. I think for me it's my specific dataset - I'm working with COVID tweets and others doing the same have noticed a rather low hydration rate due to misinformation being deleted etc. I do most of my work in R / Python so I processed the IDs there to avoid Excel causing any weirdness, so that doesn't apply to my case but maybe it could be a factor in @santoshbs's low hyrdation rate.

[2020-12-03 00:02] edsu commented on #67
Oh, that's possible yeah. Which dataset are you working with? I can test to make sure things look ok.

[2020-12-08 14:17] 1109LLL commented on #49
Exact same problem, can someone please help!

[2020-12-08 14:18] edsu commented on #49
Are you able to view twitter.com in your browser?

[2020-12-08 14:24] 1109LLL commented on #38
<img width="567" alt="Screenshot 2020-12-08 at 22 22 05" src="https://user-images.githubusercontent.com/43610472/101495712-cf947e80-39a3-11eb-9308-140b24d4fca2.png">
Hi, after reading through this thread I think I have the same issue as @hamburgersct. Using a VPN doesn't help, it simply returns with a timeout error.

[2020-12-08 14:31] edsu commented on #38
It sounds like your VPN isn't doing what you think then :-( One way of checking is to visit https://api.twitter.com/ in your browser to see if you get a page not found error from Twitter. If it just sits there waiting for a response you are blocked. I'm sorry but neither Hydrator or twarc punch through firewalls.

[2020-12-08 14:31] 1109LLL commented on #49
Hi thanks for replying! I am in China, and by using a VPN I can open twitter.com in the browser. However, I think the issue is the same as mentioned in the other issues thread: "Report network connection errors". The timeout error is probably due to the Great Firewall in China.

[2020-12-08 14:35] 1109LLL commented on #38
![Screenshot 2020-12-08 at 22 34 07](https://user-images.githubusercontent.com/43610472/101497059-80e7e400-39a5-11eb-9ebf-3c6695109ec7.png)
agghhh, yep its blocked... Thanks for your help!

[2020-12-08 14:53] edsu commented on #54
If you run it that way you will need to supply your own keys in the environment. See the note about keys [here](https://github.com/docnow/hydrator/#develop).

[2020-12-08 14:53] #54 closed

[2020-12-08 14:54] #49 closed

[2020-12-08 14:56] edsu commented on #38
Actually that means you were able to talk to the server ok if you can see that error page.

[2020-12-10 14:39] LeonardoSanna opened #69 "Encoding problem"
Hello, I've a pretty large dataset (> 2 TB) split in six files.

I assumed that UTF-8 were the text encoding of jsonl files. However there are some charachters that apparently are non-UTF.8 and this causes R to fail when I specify the encoding.

Not specifying the encoding results in a messy full_text output

[2020-12-10 14:40] edsu commented on #69
Do you have an example?

[2020-12-10 15:33] LeonardoSanna commented on #69
Update, I found I walkaround:

1) Import the file in R withouth encoding specification
2) clean data
3) export on UTF-8 csv.

The problem was with the function `stream_in` producing the error `Error in FUN(X[[i]], ...) : invalid multibyte string, element 1` while streaming the json file in a dataframe.

However there are still some weird charachters under "full text" I think because of emojis

The

[2020-12-10 15:35] edsu commented on #69
If you can give me a tweet id that will help me test.

[2020-12-10 15:40] LeonardoSanna commented on #69
`1219771346768596992` this the one with the dollar signs

[2020-12-20 00:32] margauxw commented on #65
I have the same issue!

[2020-12-20 00:40] margauxw commented on #65
If I try to add another file it also keeps crashing suddenly. Has worked fine for days.

[2020-12-20 15:29] edsu commented on #65
@rtrad89 do you have a folder `C:\Program Files\Hydrator` on your computer?

[2020-12-21 10:12] rtrad89 commented on #65
@edsu  I have installed it for my user only, so the folder is located under `C:\Users\****\AppData\Local\Programs\`

[2020-12-21 10:30] edsu commented on #65
@rtrad89 could you try to open a console Window and start the .exe? I would like to see if there is any error message provided.

[2020-12-21 21:29] georgetyler opened #71 "Rate limit error message"
Hello,

Thank you for developing this GUI -- it is proving very helpful. Apologies for the newbie question:

When the red 'Rate limited until ...' message surfaces, is there a way to discern whether that is because of A. hitting Twitter's rate limit (response 88) or B. the application successfully stopping just before the limit (so avoiding having Twitter serve you a limit response)?

[2020-12-21 21:33] edsu commented on #71
Thanks! That message gets triggered when there are no more requests remaining according to the `x-rate-limit-remaining` HTTP Response Header that comes back with the API responses. You can see the logic [here](https://github.com/DocNow/hydrator/blob/master/app/utils/twitter.js#L114).  Does that help answer your question?

[2020-12-21 22:00] georgetyler commented on #71
Sure -- I suppose my question is how to tell if the rate limit has occurred from [managing the `x-rate-limit-remaining` header](https://github.com/DocNow/hydrator/blob/64b3a24d33af4ce3e6d4536c25e3c91418a93734/app/utils/twitter.js#L114) or bumping into [`err.code ===88`](https://github.com/DocNow/hydrator/blob/64b3a24d33af4ce3e6d4536c25e3c91418a93734/app/utils/twitter.js#L132) a few lines down?

(A

[2020-12-21 22:04] edsu commented on #71
You are right, they are indistinguishable from the user interface. Ordinarily unless there is a race going on between multiple hydration jobs, or your access keys are being used in another application, the 88 error case won't arise. But it's there just in case. You could run the app from the command line to see the log messages which do differ as you can probably see?

[2020-12-21 22:18] georgetyler commented on #71
OK, that's reassuring -- I'm not confident enough with Electron to run it on the command line (unless there is a way to view the log in the UI console?), but it's good to know that the 88 error is rare when you're downloading one dataset at a time. Thanks for your help!

[2020-12-21 22:18] #71 closed

[2020-12-21 23:22] edsu commented on #71
Sure thing! If you have ideas for how to better display to the user what is going on please feel free to reopen this.

[2020-12-28 15:30] AsmaZbt commented on #67
hello  @edsu ,
I have an issue that I don't understand,  can you help me, please?
I got the IDs tweets from a CSV file, using data frame (python) then I created a .'txt' file that contains each line a Tweet ID
I checked the IDs they are correct in the TXT file and don't end with Zero.
but after using the Hydrator, I got 33 125 tweets from a total of 55 000 IDs.
and after checking the given CSV fil

[2020-12-28 17:01] edsu commented on #67
@AsmaZbt does the `i.d_str` property in your hydrated data also have zeros at the end? Javascript does not handle long integers well (see #24) so the `.id` value will often be incorrect.

It is normal for the hydrated number to be less than than the tweet ids read. The discrepancy reflects the number of tweets that have been deleted or protected since the dataset was created.

[2020-12-28 18:34] AsmaZbt commented on #67
@edsu Thank you so much for the quick reply
@edsu I'm not sure what do you mean by i.d_str but in my hydrated data I found "in_reply_to_status_id" and yes they end with a 0000.

it's not a problem for me to get less data, I when I noted that the hydrated number is less than the tweet ids read, I understood that the missed tweets are deleted or protected. However, I need absolutely the correct IDs

[2020-12-28 22:12] AsmaZbt commented on #67
I checked the value of the '.csv' hydrated file with panda , and the surprise is that the IDs do not end with 0000 but the real IDs so I think the problem is in EXCEL because when I open the file with excel I don't see the same values (that's strange).

However, while doing a lot of execution with the Hydrator tools, I release that each time I do it, I get more tweets
the first  execution,  I got

[2020-12-29 03:58] edsu commented on #67
Does the number always go up? Excel does overflow the tweet ids so do be careful how you use it!

[2020-12-29 13:37] AsmaZbt commented on #67
Hi @edsu, yes I checked the IDs in the hydrated file and they match perfectly the correct IDs. thank you much

Yes, the number always goes up.  I don't understand why!

best regards

[2020-12-29 14:11] edsu commented on #67
Can you share the tweet id dataset? I can take a look to see what might be happening.

[2020-12-29 14:17] AsmaZbt commented on #67
yes, I shared it in https://drive.google.com/file/d/1AXR9U-C0o3TfalW1ph6VXbb3kI8xFXEc/view?usp=sharing

my tweets are in the Arabic language.
thank you so much.

[2020-12-31 15:41] rtrad89 commented on #65
@edsu
The following message appears when `Hydrator.exe` is launched:

[code]

[2020-12-31 16:19] edsu commented on #65
That message is normal. So you don't see anything else before it quits?

[2020-12-31 16:53] rtrad89 commented on #65
@edsu Strangely the hydration goes forward now without problems on my workstation. @margauxw could you assist in case you still have the problem?

[2020-12-31 18:36] edsu commented on #65
Weird! Well, on the plus side I'm glad the problem has gone away for the moment. I will leave this open in case it  happens again.

[2021-01-16 02:47] YileAllenChen1 opened #72 "Tweet id file error"
When I try to load my data it gives an error "invalid tweet id on line 1". I checked my csv file and its all tweet ids with nothing else.
Could you please help me?
![tweetidfileerror](https://user-images.githubusercontent.com/43359545/104795314-ca7cd900-5772-11eb-86d5-ffa70a9e4a63.jpg)

[2021-01-16 02:49] edsu commented on #72
Hmm, can you share the file?

[2021-01-16 03:03] YileAllenChen1 commented on #72
Nvm, I noticed that excel was not displaying the ids correctly. I had to format the cells to text format and pasted the data again to display the correct ids, that solved the issue.

[2021-01-16 03:50] edsu commented on #72
Beware, Excel will overflow the tweet ids, converting the last two digits to zeroes.

[2021-01-16 10:22] #72 closed

[2021-02-11 23:15] Shooter3k opened #74 "Multiple Accounts?"
Is there any way to link Hydrator to multiple accounts? If not, is there any way to run Hydrator multiple times with different linked accounts?

[2021-02-12 02:11] edsu commented on #74
Not really. You could run the Hydrator on different computers with different accounts. You may want to take a look at [twarc](https://github.com/docnow/twarc) if you want to get more fancy with how you are hydrating data. It allows you to have multiple profiles and to run concurrent processes. I would suggest that you use the same app with different authenticating users though since Twitter may be

[2021-02-12 02:11] #74 closed

[2021-02-25 20:48] Tipphead opened #75 "Hydrator Closes Immediately After Start"
Opens fine.  Closes after I press start.  I've tried changing directories for the id files.  I have been using the program fine for a couple weeks now and have hydrated millions of tweets until now.

[2021-02-25 20:49] edsu commented on #75
What operating system are you using?

[2021-02-25 20:51] Tipphead commented on #75
Windows 10.  I also had VMware machines running Windows 10 and they began doing the same thing.  This is happening with no VMs open, just Hydrator on my main machine.

[2021-02-25 20:52] edsu commented on #75
Are you able to figure out how to start it from the windows command line?

[2021-02-25 20:53] edsu commented on #75
Also, have you tried relinking your account?

[2021-02-25 20:54] Tipphead commented on #75
No I’ll relink my account first and update you.

[2021-02-25 20:58] edsu commented on #75
Also, have you been running multiple instances of the hydrator in parallel?

[2021-02-25 20:59] Tipphead commented on #75
I did try but it didn’t work so I used VMs instead.

[2021-02-25 21:00] edsu commented on #75
And were you linking with the same account or different ones? The reason I ask is that Twitter may watch for lots of API traffic from different accounts on the same IP address.

[2021-02-25 21:09] Tipphead commented on #75
I was using different accounts.  I did try a few times with same accounts, but I was never able to hydrate any tweets and that was over a week ago.

[2021-02-25 21:14] edsu commented on #75
Yeah, if you use the same account they will compete with each other. And if you use different ones you run the risk of being flagged by Twitter as abusing the API. Not that you were, but that's just one of the things they might look for.

[2021-02-25 21:14] edsu commented on #75
Still Hydrator shouldn't die like that. So if you re-linking doesn't fix it I'd love to see what gets printed to the console if you can start it at the command line.

[2021-02-25 21:15] Tipphead commented on #75
I can’t figure out how to unlink so I’ll try command line.  I haven’t been using windows very long.

[2021-02-25 21:18] edsu commented on #75
To relink go to Settings and click on the Link button. It should prompt you to log in at Twitter in your browser. But I'd actually really like to see the console output if you are able to start it at the command line. You should be able to locate the .exe and type in the full path to it and hit Enter. Then if you start your job you may see an error pop up?

[2021-02-25 21:21] Tipphead commented on #75
PS C:\Users\j> C:\Users\j\AppData\Local\Programs\hydrator\Hydrator.exe                                                  PS C:\Users\j>                                                                                                          storage location: C:\Users\j\AppData\Roaming\hydrator\storage                                                           (electron) The default value of app.allo

[2021-02-25 21:24] Tipphead commented on #75
In settings I have:
-Add an account
-Add a Microsoft account
-Add a work or school account
-the two accounts that I have with Manage next to them

I've clicked manage before which brings you to microsoft webpage, but i can't figure out how to unlink

[2021-02-25 21:26] edsu commented on #75
Interesting, so it's still running in the terminal after the window closed?

To relink open the Hydrator and click on Settings and then Link.

[2021-02-25 21:26] Tipphead commented on #75
ohhhh you mean Hydrator?  okay let me try that.

[2021-02-25 21:36] Tipphead commented on #75
I tried relinking and switching accounts with no luck.  My accounts might be flagged, but I haven't received any e-mails.  I can get a 3rd account running on a VM though.  One of my VMs wasn't working earlier.

[2021-02-25 21:38] edsu commented on #75
Do you have a VPN? Or the ability to jump on the Internet at a different location?

[2021-02-25 21:39] Tipphead commented on #75
I am actually at a different location right now.  Although I have run Hydrator here before.  90% of my work is done at home though.

[2021-02-25 21:40] edsu commented on #75
And the problem persists at home too?

[2021-02-25 21:41] Tipphead commented on #75
correct

[2021-02-25 21:41] edsu commented on #75
The hydrator should report an error and not simply close. I think this is a duplicate of #65 so please subscribe to that ticket if you would like to get updates. It's difficult for me to test without being able to reproduce the problem :-(

[2021-02-25 21:41] #75 closed

[2021-02-25 21:44] Tipphead commented on #75
Now that you say that, I have had javascript errors, but not right now.

[2021-02-25 21:55] edsu commented on #75
Please add any you notice to the other ticket. I'm sorry I can't be of more help right now.

[2021-02-25 22:10] Tipphead commented on #65
I've had the same issue on Windows 10.  I have been running Hydrator for over 7 days now along with 4 VMware machine all with different Twitter accounts.  Several issues popped up during the process such as javascript errors and as OP stated, closing for no reason after pressing start.  I am running on a laptop and I set it to never sleep or power off, only turn the screen off even when closing th

[2021-02-25 22:48] edsu commented on #65
Thanks for summarizing those details @Tipphead! I wonder do you see a `state.json` in your Hydrator's internal storage location? I can see from the message you posted in #75 that it should be here:

    C:\Users\j\AppData\Roaming\hydrator\storage (electron)

[2021-02-25 23:26] Tipphead commented on #65
No problem!  I do see the state.json.

{"router":{"location":{"pathname":"/C:/Users/j/AppData/Local/Programs/hydrator/resources/app.asar/build/renderer/index.html","search":"","hash":"#/","query":{}},"action":"POP"},"datasets":[{"id":"26b2aedd-c511-4f36-b474-c0041509be43","path":"X:\\Twitter_Project\\Datasets\\Tweets_to_Trump\\to_Trump_20200321_ids\\to_realdonaldtrump_20200321_ids2.txt","outputPat

[2021-02-25 23:42] edsu commented on #65
Thanks for commenting out the important bits. I wonder if this might be part of the problem. It doesn't parse as JSON because of

[code]
The JSON parser (in Python) doesn't like the `\T` in `X:\Twitter_Project\
Datasets\Tweets_to_Trump\to_Trump_20200321_ids\to_realdonaldtrump_20200321_ids2.txt"` I think the backslashes need to be escaped.

[2021-02-26 00:41] Tipphead commented on #65
I changed it to \realdonaldtrump_2020321_ids2 and i changed the folder name to not begin with \t, but no cookie.  I'm gonna change my folder from Twitter_Project after I let my other hydrators get some more tweets.  Seems strange that it would have an issue with it after using it for so long under that folder name.

[2021-02-26 01:19] edsu commented on #65
Yes I might be wrong with this diagnosis. There are many of backslashes in the JSON that I believe ought to be escaped. But perhaps it's not a problem for the JavaScript.

Had you been running the Hydrator for a long time without shutting it down? I think that it probably wouldn't need to read the path from the JSON when it started up after being shut down.

[2021-02-26 01:26] Tipphead commented on #65
When I click on the id_file name on Hydrator it actually shows me X://Path//to//file.  But obviously it doesn't like it, if it is telling you that.  And I've changed so many hard drives, folders, file names, etc. who knows.  It's been a mess figuring out where to store all of this.

But yes, I've had Hydrator open and the VMs open since last week running 99% of the day.  I have shut down and resta

[2021-02-27 17:25] Tipphead commented on #65
Update:
Windows host, Windows VMs, and Ubuntu VMs are all running fine.  The /Twitter/to/trump path was the issue.  There must have been a point where either Twitter was being escaped by being the //shared folder or by me not realizing the shared folder did not begin with a T.

I just want to point out that when Hydrator runs on Linux, it will actually catch the issue and notify you where Windows

[2021-02-27 19:27] edsu commented on #65
Many thanks for debugging this @Tipphead!I will leave this open until i figure out the serialization issue

[2021-03-17 23:53] Neptune-Wood opened #76 "Stuck at Verifying"
Hello, I added a dataset for hydration, then it starts to "verifying " the file and got stuck there. It has been verifying all night now, going nowhere.
The worst part is it kinda blocked the whole app, I cannot delete or pause this "verification", I tried exit and restart, tried to delete this file, the app takes no notice. When I restart it keeps "verifying".
How can I fix this?

[2021-03-18 01:13] edsu commented on #76
Eek, that's not good. Can you try the Reset button under Settings?

[2021-03-18 09:20] Neptune-Wood commented on #76
ah nice, that does the trick, it is working now!
Don't know what blocked the hydrator last time, when I tried the same dataset again it verfied instantly and now it is hydrating

[2021-03-18 10:03] #76 closed

[2021-03-18 11:14] edsu commented on #76
I'm glad that worked, and that it is working now. Thanks for reporting the issue so we know what is happening.

[2021-04-29 20:16] Tom1316 opened #88 "Fewer Tweets in CSV than hydrated"
After hydration, I end up with Tweet Ids Read: 8,145,625/Tweets Hydrated: 7,583,036 which is to be expected. However, when I opened the CSV in R, I only had 2,586,793 observations. Why is there such a large discrepancy?  Does this mean over half the Tweets are not being converted?

[2021-04-29 22:16] edsu commented on #88
Hmm, that's not good. Are you able to share the CSV privately with me at ehs@pobox.com for me to take a look? Also can you point me at the tweet ids?

[2021-04-29 22:35] Tom1316 commented on #88
Sure thing, however the CSV files i 1.5-ish GB, so I'll have to upload it to Google Drive first. Once this is done (in about an hour) I'll send you a link. The Tweet IDs were taken from the following [database](url):https://zenodo.org/record/4726282. I collected every Tweet ID between 7-14 April as .txt files. I then concatenated the individual textfiles into one text file, and ran it through the

[2021-04-29 23:32] edsu commented on #88
I can confirm that there are 2,586,794 rows in he CSV you shared. Could you share the tweet id file and I will try with the Hydrator too. If you like I can also try hydrating with twarc which can be a bit more reliable for large datasets.

[2021-04-30 06:45] Tom1316 commented on #88
OK, Ed, I'll email the file to you shortly. Does this mean the JSON produced by Hydrator is also corrupt or only the CSV? I'm hoping to use this dataset for my dissertaion, so would appreciate it if you could run it in twarc and send me the CSV.

[2021-04-30 11:46] edsu commented on #88
Ok, let me know when you send the tweet ids.

I'm not sure if the JSON is corrupt, but it's possible. One way to check would be to run a little program over it and count the lines that have a valid JSON object on them. If you have Python installed and your JSON file is called for example `tweets.jsonl` you could run a program like this.

[code]

[2021-04-30 12:59] Tom1316 commented on #88
Hi Ed,

The tweet ids should be in the link sent in my previous email. If it didn't
sen or open, I'll compress it and attach via email. Thank you for the
python script, I'll give it a try. I'm trying to run oen the json in R but
im getting memory errors.

Best Tom

On Fri, 30 Apr 2021, 12:47 Ed Summers, ***@***.***> wrote:

[2021-04-30 16:52] Tom1316 commented on #88
Hi Ed,

Thank you so much for this. Surprisingly, the CSV conversion was pretty
rapid; maybe that was the issue? If there's a way to send you an error log
I'd be to support however I could. It's encouraging that the number of JSON
objects matches the hydrated Tweets.

I would be most grateful if you'd be able to run it and send the CSV.
Afterwards I can try and open in it R and manipulate it from

[2021-04-30 17:37] edsu commented on #88
Ok, I will respond with a private email with the link to the CSV. Let me know if you are able to read this with R. It will be a large DataFrame, so depending on your setup/resources it might make sense to subset just the data you need before loading it. The csvcut utility from [csvkit](https://csvkit.readthedocs.io/en/latest/) might provide a nice way to do that.

[2021-04-30 19:32] Tom1316 commented on #88
It worked perfectly and the dataframe has fully loaded. Thanks for the assist. I'll take your advice and probably look to split the dataframe into quarters, process it and re-combine it.

[2021-04-30 20:38] edsu commented on #88
Since we have #56 and #51 for problems knowing how long CSV generation is taking can we close this ticket?

[2021-05-01 09:08] Tom1316 commented on #88
Yes, thank you for your help.

[2021-05-09 13:11] grrigore opened #91 "CSV button not showing up"
I've used hydrator in order to get some tweets. I am not at 3,704,430 tweets hydrated (the .jsonl file is 11.5 GB) and I've decided to stop so I hit the stop button. I've done some tests with smaller datasets and after stopping the process the CSV button would show up. However, not it's not. Is it still working on the CSV? I've noticed that I can press start again so I guess the app is still worki

[2021-05-09 13:20] edsu commented on #91
Actually the csv button only shows up after the dataset is finished. But I think it would be useful for it to be available whenever hydration is stopped. If you want you can use another tool like json2csv utility to convert it.

[2021-05-09 13:30] YuNFAnz06 commented on #38
Have you solved this problem now? I really want to use this data set, but I don't know what to do.

[2021-05-18 07:11] kmlhpk opened #92 "Hydrator stuck "verifying" file that no longer exists"
I've uninstalled and reinstalled Hydrator multiple times, long since deleted the file (small_data.txt) in question, and restarted my computer, but every time I open an instance of Hydrator it's still stuck on _"Verifying small_data.txt"_ with no option to stop it and select a different Tweet ID file.
![Screenshot_7](https://user-images.githubusercontent.com/44464908/118607472-89441680-b7b0-11eb-86

[2021-05-18 07:12] kmlhpk commented on #92
Ah, resetting Twitter authentication in the Settings seems to have fixed it. Closing issue, hope this helps anyone in my position in the future.

[2021-05-18 07:12] #92 closed

[2021-05-18 15:22] edsu commented on #92
Thanks for searching around and finding a fix for it. If you figure out a sequence of steps that causes it to reoccur please let us know!

[2021-05-18 20:58] kmlhpk commented on #92
I believe my issue occurred after the following:

1. Attempt to hydrate a large set of IDs, the first line of which was incorrectly formatted
2. Try again, with correct formatting, but Hydrator throws an error saying the ID was invalid
3. Pipe the first 10 IDs to a new file `small-data.txt` and delete the first ID
4. Try again, still no luck

I think that's more or less accurate - once my current

[2021-05-20 10:37] edsu commented on #91
I'm going to reopen this because I think you are right that this would be a good feature to have.

[2021-05-31 10:06] grrigore opened #94 "Run Hydrator for multiple CSV files"
I have a folder with 100 .csv files of different sizes. Is there a way to hydrate those files without manually adding each file into the Hydrator app?

[2021-05-31 11:33] edsu commented on #94
Do you CSV files only contain a column of numbers? Or do they include other columns as well? Also what operating system are you using?

[2021-05-31 11:47] grrigore commented on #94
My .csv files contain tweet's ID.I am using Ubuntu.

[2021-05-31 11:48] edsu commented on #94
Do the CSV files have a column header? Or are the files just lines of numbers?

[2021-05-31 11:50] grrigore commented on #94
This is a preview from a .csv file:

[code]

I am using data from [here](https://ieee-dataport.org/open-access/coronavirus-covid-19-tweets-dataset)

[2021-05-31 12:00] edsu commented on #94
You will want to ensure that your input file is a text file where each line contains a tweet id and nothing else. So that TextBlob score will need to be removed as will any column headers.

I don't actually see data with that format in the dataset you linked to. If you are working with a very large dataset (hundreds of millions of tweets) you might want to use [twarc](https://github.com/docnow/twa

[2021-05-31 12:24] edsu commented on #94
Sorry i should have left this open to see if you have any more questions.

[2021-05-31 12:30] grrigore commented on #94
No problem. 🙂 I think twarc it's a better tool for what I want. Thank you.

[2021-06-05 15:54] rasaxton opened #99 "Invalid Tweet ID Error"
I keep getting this error that I can't seem to clear. I followed the advice of Issue #72 but could not clear it still. Doesn't matter if I'm using .csv or .csv.gz. Any advice would be appreciated.
![image](https://user-images.githubusercontent.com/77939470/120897545-bee06080-c5f4-11eb-886c-d6ea92ba8998.png)

[2021-06-05 22:35] edsu commented on #99
It won't read gz data. Can you screenshot the error you see when opening the. .csv?

[2021-06-07 13:03] rasaxton commented on #99
Thanks! It's actually the same error message, whether i try a csv or gz

[2021-06-07 14:55] edsu commented on #99
If you open your .csv file in your editor what is on the first line. If it's not a number you need to remove it and save it.

[2021-06-15 19:04] edsu commented on #99
Unable to move forward with this without additional information. Please reopen if you can provide more feedback.

[2021-06-15 19:04] #99 closed

[2021-07-21 11:17] sunwh929 opened #102 "Cannot link to my account"
The Hydrator can't open the website to link to my twitter account. I wonder why is that?

[2021-07-21 11:25] edsu commented on #102
We've had some people report trouble connecting from China before.

[2021-08-03 05:03] jwebst9 opened #103 "Not recognizing new consumer key and secret key"
How do I reset my consumer key to reflect changes to them? Every time I hit reset it pulls up my old key and I can't read my csv.  I installed and reinstalled and nothing changed.

[2021-08-04 13:35] edsu commented on #103
Do you mean Access Key and Access Key Secret displayed on the settings pane? If you want to change these you need to click the Link Twitter Account button.

![Screenshot from 2021-08-04 09-32-20](https://user-images.githubusercontent.com/33829/128190238-b1fc6d99-0fad-4a88-b96e-5b6a182975f6.png)

[2021-08-23 07:52] mcolemann opened #105 "Contents of tweets are not complete"
Hi!

I downloaded the .csv file but the text is not complete, somehow the application cut the text.
Do you know where is the problem?

Thanks a lot!

[2021-08-23 10:13] igorbrigadir commented on #105
Are you perhaps looking at retweets? In that case, the original text is in `retweeted_status` and is `truncated` set to `true`?

[2021-08-23 13:24] mcolemann commented on #105
Thanks a lot for your answer.
Yes, I have problems with the retweets...
I don't have a variable called `retweeted_status`... Is it normal?
What should I do?

[2021-08-23 14:14] edsu commented on #105
Yes, the CSV generation should be updated to use `.retweeted_status.full_text` when available. I can update that.

[2021-08-23 15:02] edsu commented on #105
Please give [v0.3.0](https://github.com/DocNow/hydrator/releases/tag/v0.3.0) a try. It should have the full text from the retweet. Thanks for noticing the problem and taking the time to enter an issue here.

[2021-08-23 15:02] #105 closed

[2021-08-24 13:59] mcolemann commented on #105
Hi!
Thanks for your answer!
Should I rerun everything? Or can I somehow use the .jsonl files that I have so save time?

[2021-08-24 14:00] mcolemann opened #107 "Reconstructing Threads"
Hi everyone!

Does someone of you have a code to reconstruct the threads?

Thanks a lot!

[2021-08-24 14:33] edsu commented on #107
Hydrator doesn't do that currently, but that would be a good option to add potentially. If you need to do it now you can use [twarc](https://github.com/docnow/twarc)'s `conversation` command.

[2021-08-24 14:35] edsu commented on #105
I think you should be able to use the existing .jsonl files.

[2021-08-24 15:03] mcolemann commented on #105
Thanks for the very quick answers!
So, should I install the new version of the app and hope that it can read the "old" .jsonl files?
Are the .jsonl files complete or also there the content is cut?

[2021-08-24 15:06] mcolemann commented on #107
Thank you very much!
Is twarc compatible with the .csv files from the Hydrator?

[2021-08-24 17:13] edsu commented on #107
It depends on what you are doing. Do you want to get all the conversation threads in the CSV file you generated?

[2021-08-24 19:58] mcolemann commented on #107
Actually I am trying to identify some good case studies for the conversation threads.
I have 33 .csv files (each around 300-500MB) and I would like to reconstruct all the threads (to better identify the case studies). Do you know how I can do this?

[2021-08-24 21:00] edsu commented on #107
Do you have access to the Academic Research product track, which allows searching the historical archive?

In theory it ought to be possible if you extract the tweet ids from your CSVs. And then run `twarc conversations ids.txt --archive conversations.json` to collect all the threads. It could take a while depending on the sizes of the threads you encounter.

[2021-08-25 09:41] mcolemann commented on #107
Unfortunately I don't have (I think so) access to the Academic Research product track...
How can I have access to it?

Thanks a lot! Then I will open an issue for twarc.

[2021-08-25 11:41] edsu commented on #107
If you are studying or working at a university you can apply. The main difference is that you can access 10 million tweets a month from Twitter's V2 API (usually limited to 100,000/month). The V2 API includes things like reply_count for tweets, as well as the conversation_id for a tweet which lets you easily collect all the tweets in a thread. And most importantly, Academic Research track lets you

[2021-09-07 17:22] sanand100 opened #108 "Losing lots of tweets when hydrating"
Hello!

I hope you are doing well and thank you so much for providing us with this tool!

I am trying to hydrate tweets, and I keep having a lot of my tweets deleted. For example, I input 30 tweet IDs and only 4 are hydrated. Could you please help me figure out why this is happening? Thank you!

[2021-09-07 17:36] edsu commented on #108
This is a common problem when the tweet id dataset has been opened and then saved with Excel since it does not hander large numbers well. One indicator that this has happened is if all the tweet ids end in a zero (0).

[2021-09-08 20:14] spiralstars opened #109 "javascript error"
Hello, I downloaded Hydrator on a Windows 10 computer.  It works but constantly stops and throws and error saying "A Javascript error occurred in the main process" "Uncaught exception Error EPERM Operation not permitted rename" I'm attaching an example.  Is this that I need to update something on my computer?  Hydrator worked well for me last time I downloaded it but I think that was in the spring

[2021-09-20 09:09] soursunrise opened #110 "Number of hydrated tweets vastly smaller than rows in resulting CSV"
Hi,

I have recently hydrated 8,742,424 tweet IDs, the output shows 5,550,148 tweets extracted (deletion rate was high). However, when I load the resulting CSV in R, it shows 10,495,674 rows/tweets. How can this be?

Thanks for your answer!

V

[2021-09-20 10:44] igorbrigadir commented on #110
How exactly are you loading the file in R?

Someone else on on the docnow slack had an issue with R but it was resolved when using `tidyverse` as opposed to `read.csv()`

[2021-09-20 11:50] soursunrise commented on #110
I've been using `read_csv`, yes, but it's part of `tidyverse`, as far as I understand? What would you suggest?

[2021-09-20 14:36] edsu commented on #110
I'm curious does each row in the DataFrame have an id?

[2021-09-20 14:37] edsu commented on #109
It looks like Hydrator is trying to write to the filesystem and is not able to for some reason?

[2021-09-20 14:38] #108 closed

[2021-09-20 14:38] #102 closed

[2021-09-20 14:40] #88 closed

[2021-09-20 14:40] #67 closed

[2021-09-21 06:50] soursunrise commented on #110
Turns out that it was a divider problem in the `write.csv2()` which was then incorrectly uploaded.
Now the number makes sense - still a bit smaller than given by Hydrator, but I guess that was already looked at in another thread and is not differing much in any case

[2021-09-21 06:50] #110 closed

[2021-09-29 20:54] FalconBan opened #111 "When the Tweet ID file has windows line endings, the app throws an error"
When the Tweet ID file has windows line endings, the app throws an error + When the app is closed and reopened, will get stuck trying to verify the file (with Windows LE), and I had to uninstall the app and delete the data folder to recover from this state.

[2021-12-06 21:24] kittenzonfire opened #113 "Perpetually "Verifying Microsoft Excel.app""
I've successfully run Hydrator on my laptop (a Macbook) several times in the past, but when I opened it up a couple months ago I found that I'm not able to use it because I can't upload any data. The "Select Tweet ID File" option is greyed out and there's a flashing message that says "Verifying Microsoft Excel.app..." Any way to resolve this?

<img width="489" alt="Screen Shot 2021-12-06 at 1 18 1

[2021-12-06 21:27] edsu commented on #113
It looks like you are trying to load tweets from a file named `Microsoft Excel.app`?

[2021-12-06 21:33] kittenzonfire commented on #113
I'm not, not on purpose anyway. It just says that every time I open Hydrator, even after reinstalling.

[2021-12-06 21:39] edsu commented on #113
Have you tried going to Settings and resetting?

[2021-12-06 22:33] kittenzonfire commented on #113
That seemed to fix it. :)
Thanks!

[2021-12-06 22:33] #113 closed

[2021-12-07 01:26] edsu commented on #113
I'm glad that worked! Sorry for the trouble.

[2021-12-09 10:08] ELLEN15038979725 commented on #27
Is this problem solved now? Has anyone successfully used it on win10? I installed several versions, but the button did not respond

[2021-12-10 04:58] ELLEN15038979725 commented on #43
I downloaded this version --Hydrator-Setup-0.0.11.exe, but there was no response when I clicked the button，what should I do ?

[2021-12-10 11:10] edsu commented on #43
What country do you live in? Are you able to use twitter.com normally?

[2021-12-10 11:16] ELLEN15038979725 commented on #43
China, and I can open twitter.com normally.

[2021-12-10 15:17] edsu commented on #43
We have had other reports from people in China that the Hydrator fails to work. I thought Twitter was completely blocked in China?

[2021-12-11 12:59] edsu commented on #43
@ELLEN15038979725 I'm assuming you use a proxy to connect to Twitter? What operating system are you using? Are you able to tell me if either HTTP_PROXY or HTTPS_PROXY are set in your system environment?

[2021-12-11 13:25] ELLEN15038979725 commented on #43
Yes, I can log in to Twitter with a proxy,and I use Windows 10.Both https_proxy and http_proxy are set in my system environment.

[2021-12-11 13:27] edsu commented on #43
Ok, lets create a new issue for Hydrator to respect `https_proxy` and `http_proxy` when set in the environment. I actually did not know that was a common practice for clients to discover when a proxy was in use system wide.

[2021-12-11 13:30] edsu opened #114 "Respect HTTP Proxy environment variables"
When a system wide HTTPS proxy has been set Hydrator should use it instead of talking directly to the Twitter API. This could be useful in situations where access to api.twitter.com is being blocked. See the discussion at the end of #43 for some context.

[2021-12-11 14:29] ELLEN15038979725 commented on #43
I guess the reason may be the operating system. My friends can use Hydrator with macOS.I am also very curious about this issue, and I will continue to notice this question.Maybe I should try twarc.Anyway, thank you very much.

[2021-12-11 14:48] edsu commented on #43
The operating system shouldn't matter too much. But the configuration of the operating system (vpn, proxy, etc) could make a significant difference!

[2021-12-19 23:24] igibek opened #115 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-30 10:25] Jasaxion opened #116 "Cannot link to twitter account in 3.0 version."
Click the "Link To Twitter account" is invalid.

version: Hydrator-Setup-0.3.0.exe  // Windows 10

[2021-12-30 19:04] edsu commented on #116
I just tried it on OS X and it worked fine. I don't have a Windows machine to test with unfortunately. Can you take some screenshots to describe what the problem is you are seeing? Also if you are in China then #114 might be the problem.

[2021-12-30 21:01] #115 closed

[2022-01-01 13:10] Jasaxion commented on #116
![image](https://user-images.githubusercontent.com/32972730/147851019-4ce8a3e8-20c5-4bcc-8b88-ac9f7666e84b.png)
I also try to use Ubuntu to test, but the problem still.
I am in China now, maybe it is the problem of proxy. (because I have to use the VPN to connect to twitter)
I am a student in China, sorry for my english if my expression is inappropriate and thanks a lot to help me😁.

[2022-02-03 04:33] machlovi opened #118 "Only 5 % tweets hydrated"
Hi, I have tweet_id folder of 86k but when I fed it ti hydrater, it only return 5000 tweets. Is it normal ? or I am just facing this issue.

[2022-02-03 05:04] SamHames commented on #118
It does sound low, but I can certainly think of cases where only a small number of tweets can be hydrated.

Where did you get the tweet IDs from? And did they go through excel at any point?

A common problem that causes this is Excel (or another program) breaks the tweet ids by turning them into floating point numbers. If you open your file of tweet IDs and see that they all end in `000`, that cou

[2022-02-03 14:14] machlovi commented on #118
Yes, you are I have Excel file and it has 00 at the end. Can you guide me how to overcome this issue.

[2022-02-03 18:10] machlovi commented on #118
I have excel file containing two columns:  tweet id and user id. I tried to delete user id but somehow it changes tweet id ( there is no equation between them).

[2022-02-04 02:30] igorbrigadir commented on #118
What format did the original data you got come from? If it's a public dataset do you have a link?

Unfortunately if the file was saved like this, the IDs are not recoverable unless you can get the non corrupt file or data from the original source.

The trick with Excel is to import the file and specify "text" data type for all ID columns when opening it. Or not use Excel at all, and use Google she

[2022-02-04 02:35] machlovi commented on #118
Yes, data is public
http://dfreelon.org/2012/02/11/arab-spring-twitter-data-now-available-sort-of/

It comes in excel form. I made it to work by changing the format of the table and then saving it into .txt. Now for most the ids it shows not found. Tweet ids are almost 10 year old.
<img width="563" alt="Screen Shot 2022-02-03 at 9 35 42 PM" src="https://user-images.githubusercontent.com/92961497/1

[2022-02-04 02:39] machlovi commented on #118
Yes, it is public. I have shared the link in another comment.

[2022-02-04 02:56] SamHames commented on #118
@machlovi - can you provide a URL of where you downloaded the data from on the web? The link in your earlier comment is a link to a file on your local computer, we can't access it at all.

[2022-02-04 03:00] machlovi commented on #118
Sorry my bad , here is the link : http://dfreelon.org/2012/02/11/arab-spring-twitter-data-now-available-sort-of/

[2022-02-04 15:21] igorbrigadir commented on #118
Thanks, I see the problem, the original file is a 2 column CSV.

After extracting the 1st column as a text file using `csvcut` command from https://csvkit.readthedocs.io/en/latest/index.html it worked for me:

[code]

(Unfortunately this isn't very user friendly and requires the command line - maybe the hydrator app can complain about invalid formats or something?)

I ran this for a short while an

[2022-02-04 22:18] machlovi commented on #118
@igorbrigadir I really appreciate your help. Some one had already warned me about this issue. I have no idea what to do next. I have contacted the researcher but its against the twitter policy to share text data.

[2022-02-26 22:21] abhijit-z commented on #31
Hi,
Can anyone please tell me how to use the .tsv.gz file in hydrator app (My app)? Is this approach even right?
I have got twitter dataset in .tsv.gz format and want only English language tweets.
When I select tweet ID file in the app it throws invalid message.

[2022-02-26 23:50] edsu commented on #31
@abhijit-z Hydrator expects to be given an uncompressed text file which contains a single tweet id on each line.

[2022-04-22 07:08] ghost opened #124 "problem with Hydrator"
![prob](https://user-images.githubusercontent.com/104190564/164622922-5d374063-e6e4-48b5-b672-e8190970e429.png)

_It_ no longer allows me to select Tweet ID files and add datasets, even if I uninstall and reinstall

[2022-04-22 07:12] ghost opened #125 "Hydrator slowing down"
![prob](https://user-images.githubusercontent.com/104190564/164622922-5d374063-e6e4-48b5-b672-e8190970e429.png)

_It_ no longer allows me to select Tweet ID files and add datasets, even if I uninstall and reinstall

[2022-04-22 10:01] edsu commented on #125
Does it help if you Reset under the Settings tab?

[2022-04-22 15:09] #118 closed

[2022-04-22 15:09] #125 closed, assigned to nobody

[2022-04-22 15:09] #124 closed, assigned to nobody

[2022-04-22 15:10] edsu commented on #124
Please try to reset. Also, if you create and delete your github account I will close your tickets.

[2022-04-22 15:11] edsu commented on #116
Sorry, it is a proxy problem. Duplicate of #114

[2022-04-22 15:11] #116 closed

[2022-05-23 23:01] rssaketh opened #126 "ids in jsonl file don't match original tweet ids"
Hi,
I'm trying to hydrate a few covid related tweets given by the dataset creators. When I hydrate the tweets and access the jsonl file, the tweet ids don't match the original ids given to hydrate the said tweets. I'm not sure why this is happening. I created a reduced set with 10 tweet ids
`1409530436481687559,1420581355176480770,1415615378546466819,1425871126014615558,1409480196944760833,1396357

[2022-06-10 18:49] yihong623 opened #127 "Can't find .env file"
I can't find .env file in the repo. Can you help me to point where it is?

[2022-06-10 20:15] edsu commented on #127
Are you building Hydrator with new keys? If so you'll need to create the .env file yourself as per the instructions in the README.

If you just want to use the Hydrator you don't need to build it. Just download the relevant release from [here](https://github.com/DocNow/hydrator/releases/tag/v0.3.0).

[2022-06-10 20:16] #127 closed, assigned to nobody

[2022-06-10 20:38] yihong623 opened #128 "The link Twitter account is invalid"
After I open the Gui, I link the twitter account and enter the pin number, but it keeps showing invalid.![image](https://user-images.githubusercontent.com/21210044/173146683-c2fcecf2-0b1a-49d0-bc18-eef0b8c0e214.png)

[2022-06-10 21:46] edsu commented on #128
Unfortunately Hydrator does not work in environments where you aren't able to talk directly to `twitter.com`. Is it possible you are in China and using a proxy? We do have an issue for Hydrator to respect a system wide proxy, but it doesn't currently do that yet:

https://github.com/DocNow/hydrator/issues/114

[2022-06-10 21:57] yihong623 commented on #128
I am not in China. I used it in USA and I used it on Windows. I put my consumer key and key secret on the .env and I did click allow th access and enter the pin number but it keeps saying its invalid.

[2022-06-10 22:26] edsu commented on #128
You may not have your app configured correctly. Hydrator uses the v1.1 API. Is there a reason why you didn't want to use the pre-built download?

[2022-06-10 22:59] yihong623 commented on #128
I am trying to use this for this repo https://github.com/echen102/COVID-19-TweetIDs
I am using windows. What do you mean by pre-built Hydrator? Is this on pip or an app that I can download for it? How can I configure right for this?

[2022-06-11 02:59] edsu commented on #128
Download from here:

https://github.com/DocNow/hydrator/releases/tag/v0.3.0

[2022-06-11 02:59] #128 closed, assigned to nobody

[2022-07-06 16:41] edsu commented on #126
Duplicate of #25

[2022-07-06 16:41] #126 closed, assigned to nobody

[2022-09-20 22:26] Bgerrity9 commented on #15
Hello, I am getting a "Tweet ID file error - Invalid tweet ID on line 1"
I saw on another page that I shouldn't even be opening the excel file as it corrupts the data, so I'm not sure away around this. Any help would be great, thanks.

[2022-09-20 22:31] Bgerrity9 opened #131 "Hydrator Error"
Hello,
When I attempt to upload a csv file, I am getting an "error- invalid tweet ID on line 1" pop up window. I have no idea how to get around this, any help would be appreciated, thank you.

[2022-09-20 22:32] edsu commented on #131
What does row 1 of your CSV look like? Note, it should be a file of just numbers, no column headers or other things:

[code]

[2022-09-20 23:45] Bgerrity9 commented on #131
Thanks for the response, unfortunately I can't send a screenshot through here. But, If I was to open the excel file from the cvs file I have 2 columns, the first is the tweet ID and the 2nd is what I believe to be the sentiment score.

These data sets are ones I obtained from dataport regarding covid sentiment, that other researchers appear to have hydrated as well.

[2022-09-21 18:00] igorbrigadir commented on #131
I would advise against this. Excel corrupts IDs unfortunately, so if you're trying to modify the CSV somehow i'd recommend Google sheets instead.

[2022-09-21 22:33] edsu commented on #131
Your id file needs to have one tweet id per line and no other information.

[2022-09-21 22:34] #131 closed, assigned to nobody

[2022-09-21 23:05] Bgerrity9 commented on #131
Noted, I won't open the files in excel, thanks. As the files have 2 columns, what do you suggest doing? .. When I select a tweet ID file straight into the hydrator without opening it, the same issue arises.  Right now I am opening the file with "7-Zip File manager"

[2022-09-22 05:51] igorbrigadir commented on #131
That will need some extra work - importing it into Google sheets, removing the extra columns and headers, and then exporting it as a CSV there should work.